{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}{% if joke.attributes.title %}{{ joke.attributes.title }}{% else %}Untitled Joke{% endif %}{% endblock title %}
{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import joke_ratings, joke_snippet with context %}
{% from 'toja:templates/macros/ui.jinja2' import visual_separator %}
{% from 'toja:templates/macros/transcriptions.jinja2' import format_transcription %}
<section class="grid">
  <div class="cell-1-4">
    <div class="flex" style="align-items:center;">
      <h1 class="alt-font">{% if joke.attributes.title %}{{ joke.attributes.title }}{% else %}Untitled Joke{% endif %}</h1>
      <div class="shrink hide-small">{{ joke_ratings(joke) }}</div>
    </div>
    <blockquote>
      {% if joke.attributes.text %}
        {{ format_transcription(joke.attributes.text) }}
      {% endif %}
    </blockquote>
    <div class="show-small">{{ joke_ratings(joke) }}</div>
    <div class="align-center margin-bottom">
      <img src="{{ 'joke.image'|route_url(jid=joke.id) }}"/>
    </div>
    <h2>Transcriptions</h2>
    {% for transcription in joke.transcriptions %}
      <blockquote>
        <cite class="with-badge">
          {% if transcription.status in ['accepted', 'final'] %}
            <img src="{{ 'toja:static/img/icon-verified-on.svg'|static_url() }}" alt="Transcription accepted"/>
          {% else %}
            <img src="{{ 'toja:static/img/icon-verified-off.svg'|static_url() }}" alt="Transcription not yet accepted"/>
          {% endif %}
          <span>
            {% if transcription.owner %}
              Transcribed by <a href="{{ 'user.view'|route_url(uid=transcription.owner.id) }}">{{ transcription.owner.attributes.name }}</a>
            {% else %}
              <span>Automatically transcribed</span>
            {% endif %}
            on
            {% if transcription.updated %}
              {{ transcription.updated|fancy_date }}
            {% else %}
              {{ transcription.created|fancy_date }}
            {% endif %}
          </span>
        </cite>
        {{ format_transcription(transcription.text) }}
      </blockquote>
    {% endfor %}
  </div>
  <div class="cell-5-7">
    <h2>Metadata</h2>
    <dl class="metadata">
      {% for field in request|setting('JOKE_METADATA') %}
        {% if field.name in joke.attributes and joke.attributes[field.name] %}
          <dt>{{ field.label }}</dt>
          <dd>
            {% if field.type == 'date' %}
              {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                <a href="">{{ joke.attributes[field.name]|fancy_date('long') }}</a>
              {% else %}
                {{ joke.attributes[field.name]|fancy_date('long') }}
              {% endif %}
            {% elif field.type in ['multichoice', 'multitext'] %}
              <ul class="inline">
                {% for value in joke.attributes[field.name] %}
                  <li>
                    {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                      <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, value))])}}">{{ request|_(value) }}</a>
                    {% else %}
                      {{ request|_(value) }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, joke.attributes[field.name]))])}}">{{ request|_(joke.attributes[field.name]) }}</a>
              {% else %}
                {{ request|_(joke.attributes[field.name]) }}
              {% endif %}
            {% endif %}
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
    {% for field in request|setting('ANNOTATIONS') %}
      {% if field.name in request|setting('DISPLAYED_ANNOTATIONS') %}
        {% if joke.attributes.text|extract_annotations(field.name) %}
          <h2 class="margin-top">{{ field.label|plural(joke.attributes.text|extract_annotations(field.name)|length) }}</h2>
          {% for annotation in joke.attributes.text|extract_annotations(field.name) %}
            <dl class="metadata">
              <dt>Text</dt>
              <dd>{{ annotation|extract_text }}</dd>
              {% for mark in annotation.marks %}
                {% if mark.attrs.category == field.name %}
                  {% for attr in field.attrs %}
                    {% if attr.name in mark.attrs.settings %}
                      <dt>{{ attr.label }}</dt>
                      <dd>
                        {% if attr.type == 'multitext' %}
                          <ul class="inline">
                            {% for value in mark.attrs.settings[attr.name] %}
                              <li>{{ value }}</li>
                            {% endfor %}
                          </ul>
                        {% else %}
                          {{ mark.attrs.settings[attr.name] }}
                        {% endif %}
                      </dd>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </dl>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <h2 class="margin-top">Source</h2>
    <dl class="metadata">
      {% for field in request|setting('SOURCE_METADATA') %}
        {% if field.name in joke.parent.attributes and joke.parent.attributes[field.name] %}
          <dt>{{ field.label }}</dt>
          <dd>
            {% if field.type == 'date' %}
              {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}T00%%%00%%%00Z'|format(field.name, joke.parent.attributes[field.name]))]) }}">{{ joke.parent.attributes[field.name]|fancy_date('long') }}</a>
              {% else %}
                {{ joke.parent.attributes[field.name]|fancy_date('long') }}
              {% endif %}
            {% elif field.type in ['multichoice', 'multitext'] %}
              <ul class="inline">
                {% for value in joke.parent.attributes[field.name] %}
                  <li>
                    {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                      <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, value))])}}">{{ request|_(value) }}</a>
                    {% else %}
                      {{ request|_(value) }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, joke.parent.attributes[field.name]))])}}">{{ request|_(joke.parent.attributes[field.name]) }}</a>
              {% else %}
                {{ request|_(joke.parent.attributes[field.name]) }}
              {% endif %}
            {% endif %}
          </dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
  <div class="cell-1-7">{{ visual_separator() }}</div>
  <div class="cell-1-7" data-ajax-fill="{{ 'explore.recommend.mlt'|route_url(jid=joke.id) }}"></div>
</section>
{% endblock main %}
