{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}{% if joke.attributes.title %}{{ joke.attributes.title }}{% else %}Untitled Joke{% endif %}{% endblock title %}
{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import joke_ratings, joke_snippet with context %}
{% from 'toja:templates/macros/ui.jinja2' import visual_separator %}
{% from 'toja:templates/macros/transcriptions.jinja2' import format_transcription %}
<section class="grid">
  <div class="cell-1-4">
    <div class="flex" style="align-items:center;">
      <h1 class="alt-font">{% if joke.attributes.title %}{{ joke.attributes.title }}{% else %}Untitled Joke{% endif %}</h1>
      <div class="shrink hide-small">
        {% if joke.attributes.ratings %}
          {{ joke_ratings(joke.attributes.ratings) }}
        {% else %}
          {{ joke_ratings({'laugh': 0, 'boo': 0, 'groan': 0})}}
        {% endif %}
      </div>
    </div>
    <blockquote>
      {% if joke.attributes.text %}
        {{ format_transcription(joke.attributes.text) }}
      {% endif %}
    </blockquote>
    <div class="show-small">
      {% if joke.attributes.ratings %}
        {{ joke_ratings(joke.attributes.ratings) }}
      {% else %}
        {{ joke_ratings({'laugh': 0, 'boo': 0, 'groan': 0})}}
      {% endif %}
    </div>
    <div class="align-center margin-bottom">
      <img src="{{ 'joke.image'|route_url(jid=joke.id) }}"/>
    </div>
    <h2>Transcriptions</h2>
    {% for transcription in joke.transcriptions %}
      <blockquote>
        <cite class="with-badge">
          {% if transcription.status in ['accepted', 'final'] %}
            <img src="{{ 'toja:static/img/icon-verified-on.svg'|static_url() }}" alt="Transcription accepted"/>
          {% else %}
            <img src="{{ 'toja:static/img/icon-verified-off.svg'|static_url() }}" alt="Transcription not yet accepted"/>
          {% endif %}
          <span>
            {% if transcription.owner %}
              Transcribed by <a href="{{ 'user.view'|route_url(uid=transcription.owner.id) }}">{{ transcription.owner.attributes.name }}</a>
            {% else %}
              <span>Automatically transcribed</span>
            {% endif %}
            on
            {% if transcription.updated %}
              {{ transcription.updated|fancy_date }}
            {% else %}
              {{ transcription.created|fancy_date }}
            {% endif %}
          </span>
        </cite>
        {{ format_transcription(transcription.text) }}
      </blockquote>
    {% endfor %}
  </div>
  <div class="cell-5-7">
    <h2>Metadata</h2>
    <table class="layout-1-2">
      <tbody>
        {% for field in request|setting('JOKE_METADATA') %}
          {% if field.name in joke.attributes and joke.attributes[field.name] %}
            <tr>
              <th scope="row">{{ field.label }}</th>
              <td>
                {% if field.type == 'date' %}
                  {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                    <a href="">{{ joke.attributes[field.name]|fancy_date('long') }}</a>
                  {% else %}
                    {{ joke.attributes[field.name]|fancy_date('long') }}
                  {% endif %}
                {% elif field.type == 'multichoice' %}
                  <ul class="inline">
                    {% for value in joke.attributes[field.name] %}
                      <li>
                        {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                          <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, value))])}}">{{ request|_(value) }}</a>
                        {% else %}
                          {{ request|_(value) }}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                    <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, joke.attributes[field.name]))])}}">{{ request|_(joke.attributes[field.name]) }}</a>
                  {% else %}
                    {{ request|_(joke.attributes[field.name]) }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        {% for field in request|setting('SOURCE_METADATA') %}
          {% if field.name in joke.parent.attributes and joke.parent.attributes[field.name] %}
            <tr>
              <th scope="row">{{ field.label }}</th>
              <td>
                {% if field.type == 'date' %}
                  {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                    <a href="">{{ joke.parent.attributes[field.name]|fancy_date('long') }}</a>
                  {% else %}
                    {{ joke.parent.attributes[field.name]|fancy_date('long') }}
                  {% endif %}
                {% elif field.type == 'multichoice' %}
                  <ul class="inline">
                    {% for value in joke.parent.attributes[field.name] %}
                      <li>
                        {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                          <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, value))])}}">{{ request|_(value) }}</a>
                        {% else %}
                          {{ request|_(value) }}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  {% if field.name in request|setting('SEARCH_FACET_FIELD_NAMES') %}
                    <a href="{{ 'search'|route_url(_query=[('filter', '{0}:{1}'|format(field.name, joke.parent.attributes[field.name]))])}}">{{ request|_(joke.parent.attributes[field.name]) }}</a>
                  {% else %}
                    {{ request|_(joke.parent.attributes[field.name]) }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <!--
    <h2>Characters</h2>
    <table class="layout-1-2">
      <tbody>
        <tr>
          <th scope="row">Character 1</th>
          <td>Lovely Woman</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>Female</td>
        </tr>
        <tr>
          <th>Class</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Race</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Profession</th>
          <td>&#8212;</td>
        </tr>
      </tbody>
    </table>
    <table class="layout-1-2">
      <tbody>
        <tr>
          <th scope="row">Character 2</th>
          <td>Plain Man</td>
        </tr>
        <tr>
          <th scope="row">Gender</th>
          <td>Male</td>
        </tr>
        <tr>
          <th>Class</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Race</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>&#8212;</td>
        </tr>
        <tr>
          <th>Profession</th>
          <td>&#8212;</td>
        </tr>
      </tbody>
    </table>
    -->
  </div>
  <div class="cell-1-7">{{ visual_separator() }}</div>
  <h2 class="cell-1-7 align-center alt-font">Laugh at this!</h2>
  <div class="cell-1-4">
    {{ joke_snippet(joke) }}
  </div>
  <div class="cell-4-7">
    {{ joke_snippet(joke) }}
  </div>
</section>
{% endblock main %}
