[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyramid-debugtoolbar = "*"
toja = {editable = true,path = "."}
flake8 = "*"

[packages]
pyramid = "*"
pyramid-jinja2 = "*"
pyramid-tm = "*"
sqlalchemy = "*"
transaction = "*"
zope-sqlalchemy = "*"
waitress = "*"
click = "*"
pyramid-nacl-session = "*"
decorator = "*"

[requires]
python_version = "3.7"
