[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyramid-debugtoolbar = "*"
toja = {editable = true,path = "."}
flake8 = "*"
flake8-print = "*"
pre-commit = "*"
tox = "*"

[packages]
pyramid = "*"
pyramid-jinja2 = "*"
pyramid-tm = "*"
sqlalchemy = "*"
transaction = "*"
zope-sqlalchemy = "*"
waitress = "*"
click = "*"
pyramid-nacl-session = "*"
decorator = "*"
cerberus = "*"
sqlalchemy-json = "*"
email-validator = "*"
pillow = "*"
dramatiq = {extras = ["rabbitmq", "watch"],version = "*"}
tesserocr = "*"
elasticsearch-dsl = "<8.0.0,>=7.0.0"

[requires]
python_version = "3.7"
