{% macro year(date) -%}
{%- if date %}{{ date.split('-')[0] }}{% endif -%}
{%- endmacro %}

{% macro month(date) -%}
{%- if date %}{% if date.split('-')|length > 1 -%}
  {%- set month_value = date.split('-')[1]|int -%}
  {% if month_value == 1 %}January
  {%- elif month_value == 2 %}February
  {%- elif month_value == 3 %}March
  {%- elif month_value == 4 %}April
  {%- elif month_value == 5 %}May
  {%- elif month_value == 6 %}June
  {%- elif month_value == 7 %}July
  {%- elif month_value == 8 %}August
  {%- elif month_value == 9 %}September
  {%- elif month_value == 10 %}October
  {%- elif month_value == 11 %}November
  {%- elif month_value == 12 %}December{% endif -%}
{%- endif %}{% endif -%}
{%- endmacro %}

{% macro day(date) -%}
{%- if date %}{% if date.split('-')|length > 2 %}{{ date.split('-')[2]|int }}{% endif %}{% endif -%}
{%- endmacro %}

{% macro day_month(date) -%}
{%- if date %}{{ day(date) }} {{ month(date) }}{% endif -%}
{%- endmacro %}
