{% macro search_form() %}
{% from 'toja:templates/macros/icons.jinja2' import icon %}
<form class="search" role="search" action="{{ 'search'|route_url() }}">
  <input type="search" title="Search" name="q" aria-label="Search for jokes by keyword">
  <button aria-label="Start the search">{{ icon('magnify') }}</button>
</form>
{% endmacro %}

{% macro categories_block() %}
<ul class="categories-block">
  <li><a href="#">Alternative</a></li>
  <li><a href="#">Anecdotal </a></li>
  <li><a href="#">Blue</a></li>
  <li><a href="#">Black </a></li>
  <li><a href="#">Character</a></li>
  <li><a href="#">Cringe</a></li>
  <li><a href="#">Deadpan</a></li>
  <li><a href="#">Improvisational </a></li>
  <li><a href="#">Insult</a></li>
  <li><a href="#">Observational</a></li>
  <li><a href="#">One-line jokes</a></li>
  <li><a href="#">Surreal</a></li>
  <li><a href="#">Word play</a></li>
  <li><a href="#">Topical</a></li>
</ul>
{% endmacro %}

{% macro search_result_status(request, pagination, label) %}
<div class="search-result-status margin-top">
  <div class="font-size-small align-bottom">{{ pagination.current * 10 + 1}} - {{ [pagination.current * 10 + 10, pagination.total]|min }} of {{ pagination.total }} {{ label }}</div>
  <ul class="pagination shrink">
    {% if pagination.current == pagination.start %}
      <li><span class="btn alt-small disabled">Previous</span></li>
    {% else %}
      <li><a href="{{ request|update_current_route(query={'page': pagination.current - 1}) }}" class="btn alt-small alt-secondary">Previous</a></li>
    {% endif %}
    {% for idx in range(pagination.start, pagination.end) %}
      {% if idx == pagination.current %}
        <li><a href="{{ request|update_current_route(query={'page': idx}) }}" class="btn alt-small">{{ idx + 1 }}</a></li>
      {% else %}
        <li><a href="{{ request|update_current_route(query={'page': idx}) }}">{{ idx + 1 }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination.current == pagination.end - 1 %}
      <li><span class="btn alt-small disabled">Next</span></li>
    {% else %}
      <li><a href="{{ request|update_current_route(query={'page': pagination.current + 1}) }}" class="btn alt-small alt-secondary">Next</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro %}

{% macro pagination() %}
{% endmacro %}
