{% macro source_edit_menu(source) %}
<div class="actions">
  <ul class="inline justify-end">
    {% if request|logged_in and request.current_user.trust == 'full' %}
      <li><a href="{{ 'contribute.workbench.edit'|route_url(sid=source.id) }}" aria-label="Transcribe in the Workbench" title="Edit in the Workbench">{{ icon('anvil') }}</a></li>
    {% endif %}
    {% if request|permitted('sources.edit or @edit image %i'|format(source.id)) %}
      <li><a href="{{ 'source.edit'|route_url(sid=source.id) }}" aria-label="Edit this source" title="Edit this source">{{ icon('pencil') }}</a></li>
    {% endif %}
    {% if request|permitted('sources.delete or @delete image %i'|format(source.id)) %}
      <li><a href="{{ 'source.delete'|route_url(sid=source.id) }}" aria-label="Delete this source" title="Delete this source" data-action="post-link" data-confirm-prompt="Please confirm you wish to delete this source?">{{ icon('delete') }}</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro %}

{% macro source_snippet(source, target_route_name='source.view') %}
{% from 'toja:templates/macros/dates.jinja2' import year, day_month %}
{% from 'toja:templates/macros/icons.jinja2' import icon %}
<section class="source-snippet">
  <div>
    <div class="source-image">
      <a href="{{ 'source.view'|route_url(sid=source.id) }}" data-action="image-popup"><img src="{{ 'source.image'|route_url(sid=source.id) }}" alt="The scanned joke image"></a>
    </div>
  </div>
  <div>
    <div class="metadata">
      <div>
        <h2><a href="{{ target_route_name|route_url(sid=source.id) }}">{{ source.attribute(request|setting('SOURCE_SNIPPET_FIELD_TITLE')) }}</a></h2>
        <p>{{ source.attribute(request|setting('SOURCE_SNIPPET_FIELD_SUBTITLE')) }}</p>
      </div>
      <time>
      <span>{{ source.attribute(request|setting('SOURCE_SNIPPET_FIELD_DATE'))|fancy_date(format='year') }}</span>
      <span>{{ source.attribute(request|setting('SOURCE_SNIPPET_FIELD_DATE'))|fancy_date(format='month-day') }}</span>
      </time>
    </div>
    {{ source_edit_menu(source) }}
  </div>
</section>
{% endmacro %}
