<header class="grid">
  <div><a href="{{ 'root'|route_url() }}"><img src="{{ 'toja:static/img/tmp-logo.svg'|static_url() }}" alt="Are we amused? | The Old Joke Archive"></a></div>
  <div>
    <div>
      <nav aria-label="Main navigation">
        <ul>
          {# <li><a href="#">Browse</a></li> #}
          <li><a href="{{ 'search'|route_url() }}">Search</a></li>
          <li><a href="{{ 'contribute'|route_url() }}">Contribute</a></li>
          <li><a href="#">About</a></li>
          {% if request|permitted('admin.view') %}
            <li><a href="{{ 'admin.index'|route_url() }}">Admin</a></li>
          {% endif %}
        </ul>
      </nav>
      <nav aria-label="User navigation">
        <ul>
          {% if request|logged_in %}
            <li><a href="{{ 'user.view'|route_url(uid=request.current_user.id) }}">{{ request.current_user.attributes.name }}</a></li>
            <li><a href="{{ 'user.logout'|route_url() }}" data-action="post-link">Log out</a></li>
          {% else %}
            <li><a href="{{ 'user.register'|route_url() }}">Sign up</a></li>
            <li><a href="{{ 'user.login'|route_url(_query={'redirect': request|encode_route }) }}">Log in</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {{ visual_separator() }}
  </div>
</header>
