{% from 'toja:templates/macros/ui.jinja2' import visual_separator -%}
{% from 'toja:templates/macros/icons.jinja2' import icon -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Are we amused? | The Old Joke Archive{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'toja:static/theme.css'|static_url() }}" media="screen">

  <!-- META ICONS / COLOUR
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#ffffff">
  -->
</head>

<body>
  {% if request.session.peek_flash('info') %}
    <section role="region" aria-label="Messages" class="flash page">
      <div>
        <div>
          <img src="{{ 'toja:static/img/img-1.png'|static_url() }}" aria-hidden="true"/>
        </div>
        <ul>
          {% for message in request.session.pop_flash('info') %}
            <li>
              <span>{{ message }}</span>
              <a aria-label="Close this message" data-action="close-message">{{ icon('close-circle') }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endif %}
  {% block body %}{% endblock body %}
  <script src="{{ 'toja:static/plugins.js'|static_url() }}"></script>
  {% block body_scripts %}{% endblock body_scripts %}
</body>
</html>
