{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}The Old Joke Archive Administration{% endblock title %}

{% block main %}
<section class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">Administration</h1>
    <ul class="inline margin-top">
      {% if request|permitted('users.admin') %}
        <li><a href="{{ 'user.index'|route_url() }}">Users</a></li>
      {% endif %}
      {% if request|permitted('sources.admin') %}
        <li><a href="{{ 'source.index'|route_url() }}">Sources</a></li>
      {% endif %}
    </ul>
  </div>
</section>
{% endblock main %}
