{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Jokes Administration{% endblock title %}

{% block main %}
<section class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">Jokes Administration</h1>
    <form action="{{ 'admin.jokes'|route_url() }}" method="post" data-action="action-buttons">
      <input type="hidden" name="action" value=""/>
      <button data-action="process" data-confirm-prompt="This is an extensive process and may take some time. During this time the search functionality may be reduced. Please confirm you wish to proceed?">(Re-)process all jokes</button>
    </form>
  </div>
</section>
{% endblock main %}
