{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Search Administration{% endblock title %}

{% block main %}
<section class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">Search Administration</h1>
    <h2>Index Status</h2>
    <table>
      <thead>
        <tr>
          <th>Index</th>
          <th>Exists</th>
          <th># Indexed</th>
          <th># Searches</th>
          <th>Avg. Search Time (ms)</th>
        </tr>
      </thead>
      <tbody>
        {% for (name, index, stats) in indices %}
          <tr>
            <td>{{ name }}</td>
            {% if index.exists() %}
              <td><img src="{{ 'toja:static/img/icon-verified-on.svg'|static_url() }}" alt="Index exists"/></td>
              <td>{{ stats._all.total.docs.count }}</td>
              <td>{{ stats._all.total.search.query_total }}</td>
              <td>{{ stats._all.total.search.query_time_in_millis }}</td>
            {% else %}
              <td><img src="{{ 'toja:static/img/icon-verified-off.svg'|static_url() }}" alt="Index missing"/></td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ 'admin.search'|route_url() }}" method="post" data-action="action-buttons">
      <input type="hidden" name="action" value=""/>
      <button data-action="index">(Re-)index all data</button>
      <button data-action="create" data-confirm-prompt="This will also start re-indexing all data any may take some time. During this time the search functionality will be reduced. Please confirm you wish to proceed?">(Re-)create all indexes</button>
    </form>
  </div>
</section>
{% endblock main %}
