<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}The Old Joke Archive{% endblock title %}</title>
  <link href="{{request.static_url('toja:static/theme.css')}}" rel="stylesheet">
  {% block head_scripts %}{% endblock head_scripts %}
</head>
<body>
  {% if request.session.peek_flash('info') %}
    {% for message in request.session.pop_flash('info') %}
      <div>{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% if request.current_user is none %}
    <div><a href="{{ request.route_url('users.login') }}">Login</a></div>
  {% else %}
    <div><a href="{{ request.route_url('users.logout') }}" data-post-link="">Logout</a></div>
  {% endif %}
  {% block body %}{% endblock body %}
  {% block body_scripts %}{% endblock body_scripts %}
</body>
</html>
