{% extends "centred_narrow_layout.jinja2" %}

{% block content %}
  <a class="twitter-timeline" href="https://twitter.com/VictorianHumour?ref_src=twsrc%5Etfw">Tweets by VictorianHumour</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock content %}
