.application-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 7rem);
    box-sizing: border-box;

    > *:nth-child(1) {
        flex: 0 0 auto;
    }

    > *:nth-child(2) {
        flex: 1 1 auto;
        overflow: hidden;
    }
}
