/*
 * Blockquotes
 */
blockquote {
    box-sizing: border-box;
    margin: 0 0 var(--spacing-x-large);
    padding: 0;
    background-color: transparent;

    &:first-child {
        margin-top: 0;
    }

    p {
        font-size: var(--font-size-medium);

        &:last-of-type, &:only-of-type {
            margin-bottom: var(--spacing);
        }
    }

    cite {
        display: block;
        font-size: var(--font-size-small);
        font-style: normal;

        &.with-badge {
            display: flex;
            align-items: center;
            margin-bottom: var(--spacing-small);

            > :first-child {
                flex: 0 0 auto;
            }

            > :last-child {
                flex: 1 1 auto;
                margin-left: var(--spacing);
            }
        }
    }
}
