/*
 * Buttons
 */
button, a.btn, .btn {
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: var(--spacing) var(--spacing-large);
    background-color: var(--color-button);
    color: var(--color-text-alt);
    border-width: 0;
    border-radius: var(--border-radius-large);
    box-sizing: border-box;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family);
    font-style: italic;
    cursor: pointer;
    transition: var(--duration-promptly) all ease;
    text-decoration: none;
    line-height: 1;

    svg.icon {
        path, g {
            fill: var(--color-text-alt);
        }
    }

    &:hover {
        background-color: var(--color-button-hover);
        color: var(--color-text-alt);
        text-decoration: none;

        svg.icon {
            path, g {
                fill: var(--color-text-alt);
            }
        }

    }

    &:active {
        background-color: var(--color-button-active);
        color: var(--color-text-alt);
        text-decoration: none;
    }

    &.disabled {
        background-color: var(--color-base);
        color: var(--color-mid);
        cursor: not-allowed;
    }

    &.alt-large {
        padding: var(--spacing-medium) var(--spacing-x-large);
    }

    &.alt-small {
        padding: var(--spacing-small) var(--spacing-medium);
        font-size: var(--font-size-x-small);

        svg.icon {
            width: 16px;
            height: 16px;
        }
    }

    &.alt-block {
        display: block;
        width: 100%;
        text-align: center;
    }

    &.alt-secondary {
        background-color: var(--color-base);
        color: var(--color-text-default);

        svg.icon {
            path, g {
                fill: var(--color-text-default);
            }
        }

        &:hover {
            background-color: var(--color-button-hover);
            color: var(--color-text-alt);

            svg.icon {
                path, g {
                    fill: var(--color-text-alt);
                }
            }
        }
    }

    svg:hover {
        path, g {
            fill: var(--color-brand);
        }
    }
}

/*
 * Button Groups
 */
.btn-group {
    display: flex;
    margin: var(--spacing-x-large) 0;

    button, .btn {
        flex: 1;
        border-radius: 0;
    }

    > :first-child {
        border-top-left-radius: var(--border-radius-large);
        border-bottom-left-radius: var(--border-radius-large);
    }

    > :last-child {
        border-top-right-radius: var(--border-radius-large);
        border-bottom-right-radius: var(--border-radius-large);
    }
}


/*
 * Search Buttons
 */
.search {
    position: relative;
    padding: 0!important;

    button, button:hover {
        position: absolute;
        top: 10px;
        right: 8px;
        padding: 0;
        width: 24px;
        height: 24px;
        -webkit-appearance: none;
        background-color: transparent;
        border-radius: 0;
    }
}
