@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

::-moz-selection, ::selection {
    color: var(--color-light);
    background-color: var(--color-background-selection);
    text-shadow: none;
}

::-webkit-scrollbar-track {
    margin: var(--spacing-small);
    background-color: var(--color-base);
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 8px;
}
