/**
 * Form styling
 */
form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0 0 var(--spacing-xx-large) 0;
    padding: 0;
    border: 0;
}

label {
    display: block;
    margin: 0 0 var(--spacing-small) 0;
    color: var(--color-input-text);

    + label {
        margin-top: var(--spacing-medium);
    }

    span.message {
        display: none;
    }
}

[type="email"],
[type="number"],
[type="password"],
[type="date"],
[type="time"],
[type="search"],
[type="text"],
[type="file"],
textarea,
select,
.ProseMirror {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    box-sizing: border-box;
    margin: var(--spacing-small) 0;
    padding: var(--spacing);
    width: 100%;
    background-color: var(--color-input-background);
    border-width: var(--input-border-width);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    font-size: var(--font-size-small);
    font-family: var(--font-family);
    color: var(--color-input-text);
    transition: all var(--duration-quickly) ease;
    border: var(--border-width-thin) solid var(--color-input-background);

    &:focus {
        border: var(--border-width-thin) solid var(--color-mid);
    }
}

.error {
    color: var(--color-negative);

    [type="email"],
    [type="number"],
    [type="password"],
    [type="date"],
    [type="time"],
    [type="search"],
    [type="text"],
    textarea {
        border: var(--border-width-thin) solid var(--color-negative);
        color: var(--color-negative);
    }

    span.message {
        display: block;
    }
}

textarea {
    min-height: 12vh;
    resize: vertical;
}

input:focus, textarea:focus {
    outline: 0;

    + button, + a.btn, + .btn {
        path, g {
            fill: var(--color-accent);
        }

        svg:hover {
            path, g {
                fill: var(--color-brand);
            }
        }
    }
}
