/*
 * Icon styling
 */
.icon {

    &.mdi {
        width: 24px;
        height: 24px;
    }

    path, g {
        fill: var(--color-mid);
        transition: fill var(--duration-quickly) ease;
    }
}

a {
    .icon {
        path, g {
            fill: var(--color-accent);
        }

    }

    &:hover {
        .icon {
            path, g {
                fill: var(--color-brand);
            }
        }
    }
}
