/*
 * List styling
 */
ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    counter-reset: ol-counter;
    font-size: var(--font-size-default);

    li {
        counter-increment: ol-counter;
        margin-left: -1rem;
        margin-bottom: var(--spacing-x-small);

        &:before {
            margin-right: var(--spacing-medium);
            content: counter(ol-counter);
            color: var(--color-text-default);
        }
    }
}


ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-left: 0.75rem;
        margin-bottom: var(--spacing-x-small);

        &:before {
            margin-left: -0.75rem;
            margin-right: 0.25rem;
            content: "•";
            color: var(--color-brand);
        }
    }

    &.no-bullet li:before {
        content: "";
        display: none;
    }
}

li {
    margin-bottom: var(--spacing-x-small);

    > ul, > ol {
        margin: var(--spacing) 0 var(--spacing) var(--spacing);
        padding: 0;
    }
}

dl {
    font-size: var(--font-size-default);
}

dt {
    font-weight: var(--font-weight-semibold);
}

dd {
    margin: 0 0 var(--spacing);
}

/* Inline lists */

.inline {
    display: flex;
    align-items: center;

    li {
        margin-left: 0;

        &:before {
            content: "";
            margin-left: 0;
            margin-right: 0;
        }

        &:not(:last-child) {
            padding-right: var(--spacing-small);
            margin-right: var(--spacing-small);
            border-right: var(--border-width-thin) solid var(--color-border);
        }

    }

    &.comma {
        li:not(:last-child) {
            padding-right: 0;
            margin-right: var(--spacing-x-small);
            border-right: 0;

            &:after {
                content: ", "
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;

    li {
        margin-left: 0;
        margin-right: 0;

        &:before {
            content: "";
            margin-left: 0;
            margin-right: 0;
        }

        &[role="separator"] {
            margin-left: var(--spacing);
        }

        [role="menuitem"] {
            display: block;
            padding: var(--spacing-small);

            > * {
                vertical-align: middle;
            }

            &[aria-hidden="true"] {
                display: none;
            }

            &[aria-current="true"] {
                background: var(--color-brand);
                border-radius: var(--border-radius-small);

                svg path, svg g {
                    fill: var(--color-light);
                }
            }

            &[disabled="disabled"] {
                cursor: not-allowed;
                
                svg path, svg g {
                    fill: var(--color-mid);
                }
            }
        }
    }
}
