/*
 * Margin helpers
 */
.margin-auto {
    margin-right: auto;
    margin-left: auto;
}

.margin-top {
    margin-top: var(--spacing-large);
}

.margin-bottom {
    margin-bottom: var(--spacing-x-large);
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.margin-right {
    margin-right: var(--grid-column-gap);
}

.margin-left {
    margin-left: var(--grid-column-gap);
}

@media screen and (min-width:48em) {
    .margin-bottom-negative {
        margin-bottom: -5rem;
    }
}
