/*
 * Basic table styling
 */
table {
    margin-bottom: var(--spacing-x-large);
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    font-family: var(--font-family);

    ul {
        margin: 0;
    }

    &.layout-1-2 {
        th {
            width: 33.33333%;
        }
    }
}

th, td {
    padding: var(--spacing) var(--spacing-medium) var(--spacing) 0;
    font-size: var(--font-size-small);
    text-align: left;
    vertical-align: middle;
}

th {
    font-family: var(--font-family);
    font-weight: var(--font-weight-semibold);
    font-style: italic;
    white-space: nowrap;

    h3 {
        margin: 0;
        font-size: var(--font-size-small);
        text-transform: none;
    }
}


td:first-of-type {
    padding-left: var(--spacing-x-small);
}

thead {
    th, td {
        border-bottom: var(--border-width-thick) solid var(--color-border);
    }
}

tbody {
    th, td {
        border-bottom: var(--border-width-thin) solid var(--color-border);
    }
}

.td--divider {
    padding-left: var(--spacing-medium);
    border-left: var(--border-width-thin) solid var(--color-border);
}

/*
 * Condensed table
 */

.table--condensed {
    th, td {
        padding-top: var(--spacing-small);
        padding-bottom: var(--spacing-small);
    }
}

/*
 * Very condensed table
 */

.table--milli {
    th, td {
        padding-top: var(--spacing-x-small);
        padding-bottom: var(--spacing-x-small);
        font-size: var(--font-size-x-small);
    }
}

/* stripe */

.table--stripe {
    tbody {
        th, td {
            border-bottom-width: 0;
        }

        tr:nth-of-type(even) {
            th, td {
                background-color: var(--color-base);
            }
        }

        tr:last-of-type {
            th, td {
                border-bottom: var(--border-width-thin) solid var(--color-border);
            }
        }
    }
}

/*
 * Table hover effect
 */

.table--hover {
    tr:hover {
        th, td {
            background-color: var(--color-border);
        }
    }
    tr:nth-of-type(even):hover {
        th, td {
            background-color: var(--color-border);
        }
    }
}

/*
 * Responsive Table
 */

.table--responsive {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    border-spacing: 0;
    -webkit-overflow-scrolling: touch;
}
