{% from 'toja:templates/macros/jokes.jinja2' import joke_snippet with context %}

<h2 class="alt-font">Laugh at this!</h2>
<div class="flex padding">
  <div class="cell small-12 medium-6">
    {{ joke_snippet(jokes[0]) }}
  </div>
  <div class="cell small-12 medium-6">
    {{ joke_snippet(jokes[1]) }}
  </div>
</div>
