{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}{% if user.id == request.current_user.id %}Edit my Profile{% else %}Edit {{ user.attributes.name }}{% endif %}{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/forms.jinja2' import field, select with context %}
<form action="{{ 'user.edit'|route_url(uid=user.id) }}" method="post" class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">{% if user.id == request.current_user.id %}Edit my Profile{% else %}Edit <span class="color-brand">{{ user.attributes.name }}</span>{% endif %}</h1>
  </div>
  <div class="cell-1-4">
    <fieldset>
      {{ field('name', 'text', 'Name', attributes={'value': user.attributes.name}) }}
      {{ field('email', 'email', 'E-Mail', attributes={'value': user.email}) }}
    </fieldset>
    <fieldset>
      {{ field('password', 'password', 'New Password (leave blank to leave unchanged)', attributes={'autocomplete': 'new-password'}) }}
      {{ field('confirm_password', 'password', 'Confirm your new Password') }}
    </fieldset>
    {% if request|permitted('users.edit') %}
      <fieldset>
        {{ select('status', [('new', 'New'), ('active', 'Active'), ('deleted', 'Deleted'), ('blocked', 'Blocked')], user.status, 'Status') }}
        {{ select('trust', [('low', 'Low'), ('medium', 'Medium'), ('high', 'High'), ('full', 'Full')], user.trust, 'Trust') }}
      </fieldset>
    {% endif %}
    <ul class="no-bullet margin-top flex">
      {% if request|permitted('users.edit') %}
        <li><a href="{{ 'user.index'|route_url() }}">&larr; Don't update</a></li>
      {% else %}
        <li><a href="{{ 'user.view'|route_url(uid=user.id) }}">&larr; Don't update</a></li>
      {% endif %}
      <li class="shrink"><button class="shrink">Update</button></li>
    </ul>
  </div>
  {% if request|permitted('users.edit_permissions') %}
    <div class="cell-5-7">
      <fieldset>
        <h2>Groups</h2>
        <ul class="no-bullet">
          {% for group in groups %}
            {% if group in user.groups %}
              {{ field('group', 'checkbox', group|title(), attributes={'checked': 'checked', 'value': group}) }}
            {% else %}
              {{ field('group', 'checkbox', group|title(), attributes={'value': group}) }}
            {% endif %}
          {% endfor %}
        </ul>
      </fieldset>
      <fieldset>
        <h2>Individual Permissions</h2>
        <ul>
          {% for permission, label in permissions.items() %}
            {% if permission in user.permissions %}
              {{ field('permission', 'checkbox', label, attributes={'checked': 'checked', 'value': permission}) }}
            {% else %}
              {{ field('permission', 'checkbox', label, attributes={'value': permission}) }}
            {% endif %}
          {% endfor %}
        </ul>
      </fieldset>
    </div>
  {% endif %}
</form>
{% endblock main %}
