{% extends 'toja:templates/layout/minimal.jinja2' %}

{% block title %}The Old Joke Archive | Log in{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/forms.jinja2' import field with context %}
<h1 class="alt-font">Reset your password with the <span class="color-brand">Old Joke Archive</span></h1>
<form action="{{ 'user.forgotten_password'|route_url() }}" method="post" class="margin-top">
  <input type="hidden" name="redirect" value="{{ request.params.redirect }}"/>
  {{ field('email', 'email', 'E-Mail Address') }}
  <div class="flex align-center margin-top">
    <div class="shrink">
      <a href="{{ 'user.login'|route_url() }}">&larr; Back to the log in</a>
    </div>
    <div class="text-right">
      <button>Request a new Password</button>
    </div>
  </div>
</form>
{% endblock main %}
