{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}The Old Joke Archive Users{% endblock title %}

{% block main %}
<section class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">Users</h1>
  </div>
</section>
{% endblock main %}
