{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}The Old Joke Archive Users{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/icons.jinja2' import icon %}
{% from 'toja:templates/macros/forms.jinja2' import field %}
{% from 'toja:templates/macros/search.jinja2' import search_result_status %}
<section class="grid">
  <div class="cell-1-7">
    <h1 class="alt-font">Users</h1>
    <table>
      <thead>
        <tr>
          <td colspan="2"></td>
          <td colspan="3"><form role="search">
            <div>
              <input name="q" type="search" title="Search" aria-label="Search for users by email" placeholder="Search for users by email" value="{{ request.params['q'] }}">
            </div>
            <div class="flex">
              <div></div>
              <div class="shrink">
                <label><input type="checkbox" name="status" value="new" {% if 'new' in status %}checked="checked"{% endif %}/> New Users</label>
              </div>
              <div class="shrink">
                <label><input type="checkbox" name="status" value="active" {% if 'active' in status %}checked="checked"{% endif %}/> Active Users</label>
              </div>
              <div class="shrink">
                <label><input type="checkbox" name="status" value="deleted" {% if 'deleted' in status %}checked="checked"{% endif %}/> Deleted Users</label>
              </div>
              <div class="shrink">
                <label><input type="checkbox" name="status" value="blocked" {% if 'blocked' in status %}checked="checked"{% endif %}/> Blocked Users</label>
              </div>
              <div class="shrink padding-left">
                <button aria-label="Start the search" class="alt-small alt-secondary">{{ icon('magnify') }}</button>
              </div>
            </div>
          </form></td>
        </tr>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Status</th>
          <th>Registered</th>
          <th>Trust</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td><a href="{{ 'user.view'|route_url(uid=user.id) }}">{{ user.attributes.name }}</a></td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.status|title }}</td>
            <td>{{ user.created|fancy_date }} at {{ user.created|strftime('%H:%M') }}</td>
            <td>{{ user.trust|title }}</td>
            <td>
              <ul class="inline">
                <li><a href="{{ 'user.edit'|route_url(uid=user.id) }}" aria-label="Edit {{ user.attributes.name }}">{{ icon('pencil') }}</a></li>
                <li><a href="{{ 'user.delete'|route_url(uid=user.id) }}" data-action="post-link" data-confirm-prompt="Please confirm you wish to delete the user {{ user.attributes.name }}?" aria-label="Delete {{ user.attributes.name }}">{{ icon('delete') }}</a></li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">{{ search_result_status(request, pagination, 'users') }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
{% endblock main %}
