{% extends "../full_width_layout.jinja2" %}
{% import "../macros/form.jinja2" as form with context %}
{% import "../macros/icons.jinja2" as icons %}

{% block title %}Users{% endblock title %}
{% block content %}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h1>Users</h1>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Status</th>
          <th>Trust</th>
          <th>Permissions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ form.inline_select('status', [('new', 'New'), ('confirmed', 'Confirmed'), ('blocked', 'Blocked')], user.status, user.status|title(), 'users.edit.status'|route_url(uid=user.id)) }}</td>
            <td>{{ form.inline_select('trust', [('low', 'Low'), ('medium', 'Medium'), ('full', 'Full')], user.trust, user.trust|title(), 'users.edit.trust'|route_url(uid=user.id)) }}</td>
            <td><div class="grid-x hover-parent"><div class="cell auto">{{ (user.groups + user.permissions)|join(', ') }}</div><div class="cell shrink"><a href="{{ 'users.edit.permissions'|route_url(uid=user.id) }}" class="hover-only-inline">{{ icons.icon('pencil') }}</a></div></td>
            <td>{% if request|permitted('users.delete') %}<a href="{{ 'users.delete'|route_url(uid=user.id) }}" data-action="post-link">{{ icons.icon('delete') }}</a>{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
