{% extends 'toja:templates/layout/minimal.jinja2' %}

{% block title %}The Old Joke Archive | Log in{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/forms.jinja2' import field with context %}
<h1 class="alt-font">Log in to the <span class="color-brand">Old Joke Archive</span></h1>
<form action="{{ 'user.login'|route_url() }}" method="post" class="margin-top">
  <input type="hidden" name="redirect" value="{{ request.params.redirect }}"/>
  {{ field('email', 'email', 'E-Mail Address') }}
  {{ field('password', 'password', 'Password') }}
  <div class="flex align-center margin-top">
    <div class="shrink">
      <a href="{{ request|decode_route() }}">&larr; Don't log in</a>
    </div>
    <div class="shrink margin-left">
      <a href="{{ 'user.forgotten_password'|route_url() }}">Request a new Password</a>
    </div>
    <div class="shrink margin-left">
      <a href="{{ 'user.register'|route_url() }}">Register</a>
    </div>
    <div class="text-right">
      <button>Log in</button>
    </div>
  </div>
</form>
{% endblock main %}
