{% extends "toja:templates/layouts/centred_narrow.jinja2" %}
{% import "toja:templates//macros/form.jinja2" as form with context %}

{% block title %}The Old Joke Archive - Login{% endblock title %}
{% block content %}
  <form action="{{ 'users.login'|route_url() }}" method="post" novalidate>
    <h1>Login</h1>
    <div>{{ form.field('email', 'email', 'E-Mail Address', attributes={'required': 'required'}) }}</div>
    <div>{{ form.field('password', 'password', 'Password', attributes={'required': 'required'}) }}</div>
    <div class="text-right">
      {{ form.buttons('Login', "Don't Login", 'root'|route_url()) }}
    </div>
  </form>
{% endblock content %}
