{% extends "../centred_narrow_layout.jinja2" %}
{% import "../macros/form.jinja2" as form with context %}

{% block title %}The Old Joke Archive - Logout{% endblock title %}
{% block content %}
  <form action="{{ 'users.logout'|route_url() }}" method="post" novalidate>
    <h1>Logout</h1>
    <div class="text-right">
      {{ form.buttons('Logout', "Don't Logout", 'root'|route_url()) }}
    </div>
  </form>
{% endblock content %}
