{% extends "../centred_narrow_layout.jinja2" %}
{% import "../macros/form.jinja2" as form with context %}

{% block title %}The Old Joke Archive - Register{% endblock title %}
{% block content %}
  <form action="{{ 'users.register'|route_url() }}" method="post" novalidate>
    <h1>Register</h1>
    <div>{{ form.field('email', 'email', 'E-Mail Address', attributes={'required': 'required'}) }}</div>
    <div>{{ form.field('name', 'text', 'Name', attributes={'required': 'required'}) }}</div>
    <div class="text-right">
      {{ form.buttons('Register', "Don't Register", 'root'|route_url()) }}
    </div>
  </form>
{% endblock content %}
