{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}{{ user.attributes.name }}{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import source_snippet with context %}
<div class="grid">
  <div class="cell-1-7 flex">
    <h1 class="alt-font">{{ user.attributes.name }}</h1>
    <ul class="shrink inline">
      {% if request|permitted('users.admin or @edit user %s'|format(user.id)) %}
        <li><a href="{{ 'user.edit'|route_url(uid=user.id) }}" aria-label="Edit {{ user.attributes.name }}">{{ icon('pencil') }}</a></li>
      {% endif %}
      {% if request|permitted('users.admin or @delete user %s'|format(user.id)) %}
        <li><a href="{{ 'user.delete'|route_url(uid=user.id) }}" data-action="post-link" data-confirm-prompt="Please confirm you wish to delete the user {{ user.attributes.name }}?" aria-label="Delete {{ user.attributes.name }}">{{ icon('delete') }}</a></li>
      {% endif %}
    </ul>
  </div>
  {% if user.sources %}
    <section class="cell-1-4">
      <h2>Sources</h2>
      {% for source in user.sources %}
        {{ source_snippet(source) }}
      {% endfor %}
    </section>
  {% endif %}
</div>
{% endblock main %}
