{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Not allowed in here{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import joke_snippet %}
{% from 'toja:templates/macros/ui.jinja2' import visual_separator %}
{% from 'toja:templates/macros/search.jinja2' import search_form, categories_block %}
<section class="grid">
  <div class="cell-1-4">
    <figure>
      <img src="{{ 'toja:static/img/illustrations/juggler-victoria.png'|static_url() }}" alt="403 Forbidden">
    </figure>
    <h1 class="alt-font">Not allowed in here</h1>
    <p>You do not have the necessary permissions to enter this area. If you think this is an error, please contact
      an administrator.</p>
  </div>
  <div class="cell-5-7">
    <h2 class="alt-font">Find something funny</h2>
    {{ search_form() }}
    <div class="margin-top">
      {{ categories_block() }}
    </div>
  </div>
  <div class="cell-1-7">
    {{ visual_separator() }}
  </div>
</section>
<section class="grid">
  <h2 class="cell-1-7 align-center alt-font">Laugh at this!</h2>
  <div class="cell-1-4">
    {# {{ joke_snippet() }} #}
  </div>
  <div class="cell-4-7">
    {# {{ joke_snippet() }} #}
  </div>
</section>
{% endblock %}
