{% extends 'toja:templates/layout/base.jinja2' %}

{% block title %}Nothing funny to see here{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import joke_snippet %}
{% from 'toja:templates/macros/ui.jinja2' import visual_separator %}
{% from 'toja:templates/macros/search.jinja2' import search_form, categories_block %}
<section class="grid">
  <div class="cell-1-4">
    <figure>
      <img src="{{ 'toja:static/img/img-4.png'|static_url() }}" alt="404 not found">
    </figure>
    <h1 class="alt-font">Nothing funny to see here</h1>
    <p>Don't laugh. There isn't anything here.</p>
    <p>If you have come from an external site, please ask them to update their links.</p>
    <p>If you have landed here from one of our own pages, not to worry. Somebody important has been notified about this.
      They might even do something about it. Who knows. In the meantime, why don't you have a laugh.</p>
  </div>
  <div class="cell-6-7">
    <h2 class="alt-font">Find something funny</h2>
    {{ search_form() }}
    {{ categories_block() }}
  </div>
  <div class="cell-1-7">
    {{ visual_separator() }}
  </div>
</section>
<section class="grid">
  <h2 class="cell-1-7 align-center alt-font">Laugh at this!</h2>
  <div class="cell-1-4">
    {{ joke_snippet() }}
  </div>
  <div class="cell-4-7">
    {{ joke_snippet() }}
  </div>
</section>
{% endblock %}
