{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}{% for part in title %}{{ part[1] }} {% endfor %}{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/jokes.jinja2' import joke_snippet with context%}
{% from 'toja:templates/macros/icons.jinja2' import icon %}
<section class="grid">
  {% if error %}
    <section class="cell-1-7">
      <h1 class="alt-font">Unfortunately the search system is currently <span class="color-brand">offline</span>.</h1>
    </section>
  {% else %}
    <section class="cell-1-5">
      <h1 class="alt-font">
        {% for part in title %}
          {% if part[0] %}
            <span class="{{ part[0] }}">{{ part[1] }}</span>
          {% else %}
            {{ part[1] }}
          {% endif %}
        {% endfor %}
      </h1>
      <div class="search-result-status margin-top">
        <div class="font-size-small align-bottom">{{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }} jokes</div>
        <ul class="pagination shrink">
          <li><a href="{{ request|update_search_param('page', [pagination.page_start, pagination.page - 1]|max) }}" class="btn alt-small alt-secondary">Previous</a></li>
          {% for idx in range(pagination.page_start, pagination.page_end) %}
            {% if idx == pagination.page %}
              <li><a href="{{ request|update_search_param('page', idx) }}" class="btn alt-small">{{ idx + 1}}</a></li>
            {% else %}
              <li><a href="{{ request|update_search_param('page', idx) }}">{{ idx + 1}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ request|update_search_param('page', [pagination.page_end - 1, pagination.page + 1]|min) }}" class="btn alt-small alt-secondary">Next</a></li>
        </ul>
      </div>
      <ol class="search-results">
        {% for joke in jokes %}
          <li>{{ joke_snippet(joke) }}</li>
        {% endfor %}
      </ol>
      <div class="search-result-status margin-top">
        <div class="font-size-small align-bottom">{{ pagination.start }} - {{ pagination.end }} of {{ pagination.total }} jokes</div>
        <ul class="pagination shrink">
          <li><a href="#" class="btn alt-small alt-secondary">Previous</a></li>
          {% for idx in range(pagination.page_start, pagination.page_end) %}
            {% if idx == pagination.page %}
              <li><a href="{{ request|update_search_param('page', idx) }}" class="btn alt-small">{{ idx + 1}}</a></li>
            {% else %}
              <li><a href="{{ request|update_search_param('page', idx) }}">{{ idx + 1}}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="#" class="btn alt-small alt-secondary">Next</a></li>
        </ul>
      </div>
    </section>
    <form class="cell-6-7" action="{{ 'search'|route_url() }}">
      <h2 class="alt-font">Find something funny</h2>
      <div class="margin-bottom">
        <input type="search" title="Search" name="q" class="shrink" aria-label="Search for jokes by keyword" value="{{ q }}"/>
      </div>
      <h3 class="alt-font">Filters</h3>
      {% for facet in request|setting('SEARCH_FACETS') %}
        {% if facets[facet.name] %}
          <section>
            <h4 class="flex"><span>{{ facet.label }}</span> <a href="#" class="shrink" aria-label="Collapse the list of {{ facet.label|lower }}">{{ icon('minus-box') }}</a></h4>
            <ul class="filter-list expanded">
              {% if facet.name in facets %}
                {% for value in facets[facet.name] %}
                  {% if value[1] > 0 %}
                    {% if facet.type == 'date' %}
                      {% set facet_value = value[0]|strftime('%Y-%m-%dT%H:%M:%SZ')|replace(':', '%%%') %}
                    {% else %}
                      {% set facet_value = value[0]|replace(':', '%%%') %}
                    {% endif %}
                  <li>
                    {% if value[2] %}
                      <a href="{{ request|remove_search_param('filter', '{0}:{1}'|format(facet.name, facet_value)) }}" class="selected">
                    {% else %}
                      <a href="{{ request|add_search_param('filter', '{0}:{1}'|format(facet.name, facet_value)) }}">
                    {% endif %}
                      <span>{% if facet.type == 'date' %}{{ value[0]|fancy_date('year') }}{% else %}{{ request|_(value[0]) }}{% endif %}</span>
                      <span>{{ value[1] }}</span>
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
      <div class="btn-group">
        <a href="{{ 'search'|route_url() }}" class="btn alt-secondary">Reset</a>
      </div>
    </form>
  {% endif %}
</section>
{% endblock main %}
