<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}The Old Joke Archive{% endblock title %}</title>
  <link href="{{ 'toja:static/theme.css'|static_url() }}" rel="stylesheet">
  {% block head_scripts %}{% endblock head_scripts %}
</head>
<body>
  {% if request.session.peek_flash('info') %}
    {% for message in request.session.pop_flash('info') %}
      <div>{{ message }}</div>
    {% endfor %}
  {% endif %}
  <div>
    <a href="{{ 'crowdsourcing'|route_url() }}">Contribute</a>
  </div>
  {% if request|logged_in() %}
    <div><a href="{{ 'users.logout'|route_url() }}" data-action="post-link">Logout</a></div>
    <div>
      {% if request|permitted('users.list') %}
        <a href="{{ 'users.list'|route_url() }}">List Users</a>
      {% endif %}
      {% if request|permitted('sources.list') %}
        <a href="{{ 'admin.sources.list'|route_url() }}">List Sources</a>
      {% endif %}
    </div>
  {% else %}
    <div><a href="{{ 'users.register'|route_url() }}">Register</a></div>
    <div><a href="{{ 'users.login'|route_url() }}">Login</a></div>
  {% endif %}
  {% block body %}{% endblock body %}
  <script src="{{ 'toja:static/frontend.js'|static_url() }}"></script>
  {% block body_scripts %}{% endblock body_scripts %}
</body>
</html>
