*[role="tablist"] {
    @include tabs-container;

    li {
        @include tabs-title;
    }
}
.tab-panel-wrapper {
    @include tabs-content;
}
*[role="tabpanel"] {
    @include tabs-panel;

    display: block;
    max-height: 100%;

    &[aria-hidden="true"] {
        display: none;
    }
}
