:root {
    /* Typography */

    --font-family-default: Merriweather, sans-serif;
    --font-family-alt: blackriver-bold, serif;

    --font-weight-light: 300;
    --font-weight-default: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-x-display: 4.3rem;
    --font-size-display: 3.986rem;
    --font-size-xx-large: 2.074rem;
    --font-size-x-large: 1.728rem;
    --font-size-large: 1.44rem;
    --font-size-medium: 1.2rem;
    --font-size-default: 1rem;
    --font-size-small: 0.833rem;
    --font-size-x-small: 0.694rem;
    --font-size-xx-small: 0.579rem;

    --lineheight-text-default: 1.5;
    --lineheight-text-alt: 1.3;

    /* Colours */

    --color-brand: #814158;
    --color-brand-dark: #713549;
    --color-brand-light: #c07191;
    --color-accent: #2d8095;

    --color-text-default: #2b2b2b;
    --color-text-headline: #2b2b2b;
    --color-text-alt: #fff;

    --color-background: #fff;
    --color-background-selection: #e9eeef;
    --color-base: #e9eeef;
    --color-border: #a1abad;
    --color-light: #fff;
    --color-mid: #656d6f;
    --color-dark: #373b3c;
    --color-darkest: #2b2b2b;
    --color-timeline: #6d787e;

    --color-text-link: var(--color-accent);
    --color-text-link-active: var(--color-accent);
    --color-text-link-focus: var(--color-brand);
    --color-text-link-hover: var(--color-brand);
    --color-text-link-visited: var(--color-accent);

    --color-input-background: var(--color-base);
    --color-input-background-hover: var(--color-background);
    --color-input-background-active: var(--color-background);
    --color-input-border: var(--color-border);
    --color-input-border-hover: var(--color-border);
    --color-input-border-active: var(--color-mid);

    --color-button: var(--color-brand);
    --color-button-hover: var(--color-accent);
    --color-button-active: var(--color-button);
    --color-button-border: var(--color-accent);

    --color-button-alt: var(--color-base);
    --color-button-hover-alt: var(--color-mid);
    --color-button-active-alt: var(--color-base);
    --color-button-border-alt: var(--color-border);

    --color-background-selection: var(--color-accent);

    /* Borders */

    --border-radius-x-small: .15rem;
    --border-radius-small: .25rem;
    --border-radius-medium: .5rem;
    --border-radius-large: 1.5rem;
    --border-radius-circle: 50%;

    --border-width-hairline: .5px;
    --border-width-thin: 1px;
    --border-width-thick: 2px;

    /* Inputs */

    --input-border-width: 0;
    --input-border-radius: var(--border-radius-medium);

    /* Layout */

    --grid-3-4: 3fr 1fr 2fr 2fr 1fr 3fr;
    --grid-column-gap: 2vw;
    --grid-row-gap: 2vh;
    --max-width: 92rem;

    /* Spacing */

    --spacing-xx-small: .125rem;
    --spacing-x-small: .25rem;
    --spacing-small: .5rem;
    --spacing: .75rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
    --spacing-xx-large: 3rem;
    --spacing-xxx-large: 4rem;
    --spacing-xxxx-large: 5rem;

    /* Animation and transition */

    --duration-instantly: 0;
    --duration-immediately: .1s;
    --duration-quickly: .2s;
    --duration-promptly: .5s;
    --duration-slowly: 1s;
}

/* Modular typographic scales */

.major-second {
    --font-size-x-display: 2.566rem;
    --font-size-display: 2.027rem;
    --font-size-xx-large: 1.602rem;
    --font-size-x-large: 1.424rem;
    --font-size-large: 1.266rem;
    --font-size-medium: 1.125rem;
    --font-size-default: 1rem;
    --font-size-small: 0.889rem;
    --font-size-x-small: 0.79rem;
    --font-size-xx-small: 0.702rem;
}

.type-major-third {
    --font-size-x-display: 4.768rem;
    --font-size-display: 3.815rem;
    --font-size-xx-large: 2.441rem;
    --font-size-x-large: 1.953rem;
    --font-size-large: 1.563rem;
    --font-size-medium: 1.25rem;
    --font-size-default: 1rem;
    --font-size-small: 0.833rem;
    --font-size-x-small: 0.694rem;
    --font-size-xx-small: 8px;
}

.type-perfect-fourth {
    --font-size-x-display: 5.61rem;
    --font-size-display: 4.209rem;
    --font-size-xx-large: 3.157rem;
    --font-size-x-large: 2.369rem;
    --font-size-large: 1.777rem;
    --font-size-medium: 1.333rem;
    --font-size-default: 1rem;
    --font-size-small: 0.75rem;
    --font-size-x-small: 0.563rem;
    --font-size-xx-small: 0.422rem;
}
