/* Load Foundation */
@import 'foundation';
@import 'settings';

@include foundation-everything;
/* Include Foundation Components */
/*@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-visibility-classes;
@include foundation-float-classes;

@include foundation-forms;*/
@import 'aria-menu';

.overflow-auto {
    overflow: auto;
}
.hidden {
    display: none;
}

svg {
    width: rem-calc(24);
    height: rem-calc(24);
}

button {
    cursor: pointer;
}

*[data-action="inline-edit"] {
    select {
        margin-bottom: 0;
    }
}

.hover-parent {
    .hover-only, .hover-only-inline {
        display: none;
    }
    &:hover {
        .hover-only {
            display: block;
        }
        .hover-only-inline {
            display: inline;
        }
    }
}

img.thumbnail {
    max-width: rem-calc(64);
    max-height: rem-calc(64);

    &.large {
        max-width: rem-calc(128);
        max-height: rem-calc(128);
    }
}


#identify-jokes-app {
    height: 80vh;

    #viewer {
        border: 1px solid $light-gray;
    }

    #extract-list {
        li {
            margin-bottom: $global-margin;
            border: 1px solid;
        }
    }
}
