@font-face {
    font-family: 'blackriver-bold';
    src: url('/static/fonts/blackriver-bold.woff2') format('woff2'),
    url('/static/fonts/blackriver-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stash-medium';
    src: url('/static/fonts/stash-medium.woff2') format('woff2'),
    url('/static/fonts/stash-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stash-vintage-medium';
    src: url('/static/fonts/stash-vintage-medium.woff2') format('woff2'),
    url('/static/fonts/stash-vintage-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
