{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Edit a Source{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/forms.jinja2' import field, select with context %}
<div class="grid">
  <form action="{{ 'source.edit'|route_url(sid=source.id) }}" method="post" class="cell-1-4">
    <h1 class="alt-font margin-bottom">Edit a Source</h1>
    {% for name, datatype, label in request|config('app.sources.metadata.fields', target_type='list', default=[])|zip(request|config('app.sources.metadata.types', target_type='list', default=[]), request|config('app.sources.metadata.labels', target_type='list', default=[])) %}
      {% if datatype == 'date' %}
        {{ field(name, 'text', label, attributes={'value': source.attributes[name]}) }}
      {% else %}
        {{ field(name, datatype, label, attributes={'value': source.attributes[name]}) }}
      {% endif %}
    {% endfor %}
    {% if request|permitted('sources.admin') %}
      {{ select('status', [('processing', 'Processing'), ('completed', 'Completed'), ('deleted', 'Deleted')], source.status, 'Status') }}
    {% endif %}
    <div class="flex margin-top">
      {% if request|permitted('sources.admin') %}
        <div><a href="{{ 'source.index'|route_url() }}">&larr; Don't update</a></div>
      {% else %}
        <div><a href="{{ 'source.view'|route_url(sid=source.id) }}">&larr; Don't update</a></div>
      {% endif %}
      <div class="shrink"><button>Update</button></div>
    </div>
  </form>
</div>
{% endblock main %}
