{% extends "toja:templates/layouts/full_width.jinja2" %}
{% import "toja:templates/macros/form.jinja2" as form with context %}
{% import "toja:templates/macros/icons.jinja2" as icons %}

{% block title %}Source Images{% endblock title %}
{% block content %}
<div class="grid-x grid-padding-x">
  <div class="cell small-12">
    <h1>Source Images</h1>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-3 large-2">
    <nav>
      <ul role="menu">
        {% if request|permitted('sources.upload') %}
          <li><a href="{{ 'sources.upload'|route_url() }}" role="menuitem">Upload Source</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="cell small-12 medium-9 large-10">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Provider</th>
          {% for _, _, label in metadata %}
            <th>{{ label }}</th>
          {% endfor %}
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for image in images %}
          <tr>
            <td><a href="{{ 'sources.view.image'|route_url(sid=image.id )}}"><img src="{{ 'sources.view.image'|route_url(sid=image.id) }}" class="thumbnail"/></a></td>
            <td>{{ image.owner.email }}</td>
            {% for field, datatype, _ in metadata %}
              <td>
                {% if request|permitted('sources.edit') %}
                  {{ form.inline_input(field, datatype, image.attributes[field], image.attributes[field], 'sources.edit.attribute'|route_url(sid=image.id, attribute=field)) }}
                {% else %}
                  {{ image.attributes[field] }}
                {% endif %}
              </td>
            {% endfor %}
            <td>{{ form.inline_select('status', [('processing', 'Processing'), ('complete', 'Complete')], image.status, image.status|title(), 'sources.edit.status'|route_url(sid=image.id)) }}</td>
            <td>{% if request|permitted('sources.delete') %}<a href="{{ 'sources.delete'|route_url(sid=image.id) }}" data-action="post-link">{{ icons.icon('delete') }}</a>{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
