{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Contribute new Sources to the Old Joke Archive{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/forms.jinja2' import field, select with context %}
<div class="grid">
  <form action="{{ 'contribute.sources'|route_url() }}" method="post" enctype="multipart/form-data" class="cell-1-4">
    <h1 class="alt-font margin-bottom">Contribute new Sources</h1>
    {{ field('source', 'file', 'Source file') }}
    {{ field('license', 'checkbox', 'Please confirm that you are permitted to upload this  source image under a CC-BY-4.0 license. For more details on the license, please use the Copyright questions link in the page\'s footer')}}
    {% for metadata_field in request|setting('SOURCE_METADATA') %}
      {% if metadata_field.type == 'date' %}
        {{ field(metadata_field.name, 'text', metadata_field.label) }}
      {% elif metadata_field.type == 'select' %}
        {{ select(metadata_field.name, metadata_field['values']|zip(request|_(metadata_field['values'])), '', metadata_field.label) }}
      {% else %}
        {{ field(metadata_field.name, metadata_field.type, metadata_field.label) }}
      {% endif %}
    {% endfor %}
    <div class="flex margin-top">
      <div><a href="{{ 'contribute'|route_url() }}">&larr; Don't contribute</a></div>
      <div class="shrink"><button>Upload</button></div>
    </div>
  </form>
</div>
{% endblock main %}
