{% extends "toja:templates/layouts/centred.jinja2" %}
{% import "toja:templates//macros/form.jinja2" as form with context %}

{% block title %}Upload a new source image{% endblock title %}
{% block content %}
  <form action="{{ 'admin.sources.upload'|route_url() }}" method="post" enctype="multipart/form-data" novalidate>
    <h1>Upload</h1>
    <div class="grid-x">
      <div class="cell small-12 medium-8 large-6">
        {{ form.field('source', 'file', 'Source File') }}
      </div>
    </div>
    {% for field, datatype, label in request|config('app.sources.metadata.fields', target_type='list', default=[])|zip(request|config('app.sources.metadata.types', target_type='list', default=[]), request|config('app.sources.metadata.labels', target_type='list', default=[])) %}
      <div class="grid-x">
        <div class="cell small-12 medium-8 large-6">
          {{ form.field(field, datatype, label) }}
        </div>
      </div>
    {% endfor %}
    <div class="grid-x">
      <div class="cell small-12 medium-8 large-6 text-right">
        {{ form.buttons('Upload', "Don't Upload", 'admin.sources.list'|route_url()) }}
      </div>
    </div>
  </form>
{% endblock content %}
