{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Source Details{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/sources.jinja2' import source_edit_menu with context %}
<div class="grid">
  <h1 class="cell-1-7 alt-font">Source Details</h1>
  <div class="cell-1-4">
    <img src="{{ 'source.image'|route_url(sid=source.id) }}" alt="Scan of the joke source"/>
  </div>
  <div class="cell-5-7">
    <table>
      <tbody>
        {% for name, datatype, label in request|config('app.sources.metadata.fields', target_type='list', default=[])|zip(request|config('app.sources.metadata.types', target_type='list', default=[]), request|config('app.sources.metadata.labels', target_type='list', default=[])) %}
          <tr>
            <th scope="row">{{ label }}</th>
            <td>{{ source.attributes[name] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ source_edit_menu(source) }}
</div>
{% endblock main %}
