{% extends 'toja:templates/layout/default.jinja2' %}

{% block title %}Source Details{% endblock title %}

{% block main %}
{% from 'toja:templates/macros/sources.jinja2' import source_edit_menu with context %}
<div class="grid">
  <h1 class="cell-1-7 alt-font">Source Details</h1>
  <div class="cell-1-4">
    <img src="{{ 'source.image'|route_url(sid=source.id) }}" alt="Scan of the joke source"/>
  </div>
  <div class="cell-5-7">
    <table>
      <tbody>
        {% for metadata_field in request|setting('SOURCE_METADATA') %}
          <tr>
            <th scope="row">{{ metadata_field.label }}</th>
            <td>{% if metadata_field.type == 'date' %}{{ source.attributes[metadata_field.name]|fancy_date('long') }}{% else %}{{ source.attributes[metadata_field.name] }}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ source_edit_menu(source) }}
</div>
{% endblock main %}
