{% extends "toja:templates/layouts/centred.jinja2" %}

{% block title %}Contribute to The Old Joke Archive{% endblock title %}
{% block content %}
<h1>Identify Jokes</h1>
<div class="grid-x grid-padding-x">
  {% for task in tasks %}
    <div class="cell small-12 medium-4 large-3">
      <div class="grid-x grid-padding-x">
        <div class="cell shrink">
          <img src="{{ 'sources.view.image'|route_url(sid=task.id) }}" class="thumbnail large"/>
        </div>
        <div class="cell auto">
          <dl>
            {% for field, _, label in metadata %}
              <dt>{{ label }}</dt>
              <dd>{{ task.attributes[field] }}</dd>
            {% endfor %}
          </dl>
          <p class="text-right"><a href="{{ 'crowdsourcing.identify.app'|route_url(sid=task.id) }}">Work on this one &rarr;</a></p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
