{% extends "toja:templates/layouts/centred.jinja2" %}

{% block title %}Contribute to The Old Joke Archive{% endblock title %}
{% block content %}
<h1>Contribute to The Old Joke Archive</h1>
<p>Thank you very much for contributing to The Old Joke Archive. This project would not be possible without you.</p>
{% if not request|logged_in() %}
  <p>In order to correctly attribute your work, we need you to either <a href="{{ 'users.register'|route_url() }}">register</a>
    or <a href="{{ 'users.login'|route_url() }}">log in</a>.</p>
{% endif %}
<p>We have a number of different ways in which you can contribute. For each of these areas we provide a range of tasks.
  Whether you just want to do something simple quickly, or if you want to get really involved in a difficult task,
  there is something for you.</p>
<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-6 large-4">
    <h2>{% if request|logged_in() %}<a href="">Identify Jokes</a>{% else %}Identify Jokes{% endif %}</h2>
    <p>Our sources provide us with scans of newspapers, books, and manuscripts. In these we need to identify individual
      jokes. To do this, we provide you with a graphical tool in which you simply draw boxes around the jokes that you
      can find.</p>
    <p>
      {% trans count=counts['sources'] %}
        Currently there is {{ count }} task available.
      {% pluralize %}
        Currently there are {{ count }} tasks available.
      {% endtrans %}
    </p>
    {% if request|logged_in() %}
      <p class="text-right"><a href="{{ 'crowdsourcing.identify'|route_url() }}">Have a go &rarr;</a></p>
    {% endif %}
  </div>
  <div class="cell small-12 medium-6 large-4">
    <h2>{% if request|logged_in() %}<a href="">Transcribe Jokes</a>{% else %}Transcribe Jokes{% endif %}</h2>
    <p>The individual jokes are automatically processed to extract the joke text. These texts then need to be manually
      checked and potentially corrected. Depending on the quality of the source images, this might mean just fixing a
      typo here and there, but might also involve complex transcriptions.</p>
    {% if request|logged_in() %}
      <p class="text-right"><a href="">Have a go &rarr;</a></p>
    {% endif %}
  </div>
  <div class="cell small-12 medium-6 large-4">
    <h2>{% if request|logged_in() %}<a href="">Annotate Jokes</a>{% else %}Annotate Jokes{% endif %}</h2>
    <p>In the joke texts we need to identify different elements such as speakers, people, places, objects, and so on.
      Additionally, for many of these elements we need to then provide additional information such as people's gender
      or occupation.</p>
    {% if request|logged_in() %}
      <p class="text-right"><a href="">Have a go &rarr;</a></p>
    {% endif %}
  </div>
</div>
{% endblock content %}
