.flex {
    display: flex;
    flex-direction: row;

    &.vertical {
        flex-direction: column;
    }

    > * {
        flex: 1 1;
    }

    > .shrink {
        flex: 0 0 auto;
    }

    &.align-center {
        align-items: center;
    }
    
    > .align-bottom {
        align-self: flex-end;
    }
}
