.flex {
    display: flex;
    flex-direction: row;

    &.vertical {
        flex-direction: column;
    }

    > * {
        flex: 1 1 auto;
    }

    > .shrink {
        flex: 0 0 auto;
    }

    &.align-center {
        align-items: center;
    }

    > .align-bottom {
        align-self: flex-end;
    }

    &.padding {
        > .cell {
            padding-left: var(--grid-column-gap);
            padding-right: var(--grid-column-gap);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    > .cell {
        box-sizing: border-box;

        &.small-12 {
            width: 100%;
        }

        &.medium-6 {
            width: 50%;
        }
    }
}

.justify-end {
    justify-content: flex-end;
}
