.autosuggest {
    position: relative;

    > ul {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        box-sizing: border-box;
        width: 100%;
        border: 1px solid var(--color-border);
        margin: 0;
        z-index: 1;
        background: var(--color-background);

        > li > a {
            display: block;
            padding: var(--spacing-small) 0;
        }
    }
}
