.categories-block {
    margin: 0;
    padding: 0;
    columns: 3;
    list-style-type: none;

    li {
        padding: var(--spacing-x-small) 0;
        text-align: center;
        transition: transform var(--duration-quickly) ease;

        &:nth-child(odd) {
            transform: rotate(-5deg);
        }

        &:nth-child(even) {
            transform: rotate(5deg);
        }

        &:nth-child(3n+1) {
            transform: rotate(0);
        }

        &:hover {
            transform: scale(1.25);
            transform: rotate(0);
        }

        a {
            font-family: var(--font-family-alt);
            font-size: var(--font-size-medium);

            &:hover {
                text-decoration: none;
            }
        }
    }
}
