.contribute-overview-grid {
    display: flex;
    flex-direction: column;

    @media (min-width: 48rem) {
        flex-direction: row;
        flex-wrap: wrap;

        > section {
            box-sizing: border-box;
            padding: var(--spacing);
            width: 50%;
        }
    }

    @media (min-width: 64rem) {
        > section {
            width: 33.33333%;
        }
    }

    @media (min-width: 82rem) {
        > section {
            width: 25%;
        }
    }
}
