ul.filter-list {
    li {
        &:before {
            content: "";
        }

        a {
            display: flex;

            > span {
                flex: 1 1 auto;
            }

            > svg {
                flex: 0 0 auto;
            }
        }
    }

    &.expanded {
        border-bottom: var(--border-width-thin) solid var(--color-border);
        padding-bottom: var(--spacing);
    }
}
