ul.filter-list {
    li {
        &:before {
            content: "";
        }

        a {
            display: flex;
            font-size: var(--font-size-small);

            &.selected {
                background: var(--color-brand);
                border-radius: var(--border-radius-large);
                padding: 0 0 0 0.5rem;
                color: var(--color-light);
            }

            > span:nth-child(1) {
                flex: 1 1 auto;
            }

            > span:nth-child(2) {
                flex: 0 0 auto;
                color: var(--color-dark);
                background: var(--color-light-gray);
                border-radius: var(--border-radius-large);
                padding: 0.1rem 0.5rem;
            }

            > svg {
                flex: 0 0 auto;
            }
        }
    }

    &.expanded {
        border-bottom: var(--border-width-thin) solid var(--color-border);
        padding-bottom: var(--spacing);
    }
}
