.flash {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    background: var(--color-light);
    box-shadow: 0 0 15px;
    padding: var(--spacing-small);

    > div {
        display: flex;
        flex-direction: row;

        > div {
            flex: 0 0 auto;

            img {
                max-height: 70px;
            }
        }

        ul {
            flex: 1 1 auto;
            margin: 0 0 0 var(--spacing);

            li {
                padding: var(--spacing);
                display: flex;
                align-items: center;

                span {
                    display: block;
                    flex: 1 1 auto;
                }

                a {
                    display: block;
                    flex: 0 0 auto;
                    padding: 0 var(--spacing);
                }

                &:before{
                    content: "";
                    margin: 0;
                }
            }
        }
    }

    @media (min-width: 48rem) {
        width: 60%;
        left: 50%;
        transform: translateX(-50%);

        > div {
            position: relative;
            top: 35px;
        }
    }

    @media (min-width: 64rem) {
        width: 40%;
    }
}
