/*
 * Footer styling
 */
footer {
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: var(--font-size-x-small);

            li {
                margin-bottom: var(--spacing);

                &:before {
                    content: "";
                }
            }
        }

        &:nth-child(1) {
            ul {
                margin-top: var(--spacing);
                margin-bottom: var(--spacing-large);
            }
        }

        &:nth-child(2) {
            ul {
                display: flex;
                flex-direction: row;

                li {
                    margin-right: var(--spacing-small);
                }
            }
        }
    }
}

@media (min-width:48em) {
    footer {
        nav {
            &:nth-child(1) {
                grid-column: 2 / 6;

                ul {
                    column-count: 3;
                }
            }

            &:nth-child(2) {
                grid-column: 6 / 7;
            }
        }
    }
}
