div.joke-rating {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;

        li {
            margin-right: var(--spacing-large);

            &:before {
                content: "";
                margin: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: var(--color-mid);
                text-decoration: none;

                &:hover {
                    color: var(--color-brand);
                }

                span {
                    margin-left: var(--spacing-small);
                }
            }
        }
    }
}
