.joke-summary {
    margin-bottom: var(--spacing-x-large);

    .source-image {
        margin: var(--spacing) 0;
        padding: var(--spacing);
        height: 100px;
        border: var(--border-width-thin) solid var(--color-border);
        text-align: center;
        overflow-y: scroll;

        img {
            max-height: none;
        }
    }

    .metadata {
        display: flex;

        > div {
            flex: 1 1;
        }

        > time {
            display: block;
            width: 6em;

            a {
                display: block;
                text-align: center;

                &:first-of-type {
                    font-family: var(--font-family-alt);
                    font-size: var(--font-size-x-large);
                }
            }
        }

        h3, time {
            a {
                color: var(--color-text-default);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
