.joke-snippet, .source-snippet {
    margin-bottom: var(--spacing-large);
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    a {
        position: relative;
        z-index: 1;
    }

    > div {
        &:first-child {
            display: flex;
            flex-direction: column;;

            div {
                margin-bottom: var(--spacing-small);
            }
        }

        .metadata {
            display: flex;

            > div:first-child {
                flex: 1 1 auto;
            }

            > time {
                display: block;
                width: 6em;
                flex: 0 0 auto;

                span {
                    display: block;
                    text-align: center;

                    &:first-of-type {
                        font-family: var(--font-family-alt);
                        font-size: var(--font-size-x-large);
                    }
                }
            }
        }

        .source-image {
            margin-bottom: var(--spacing);
            padding: var(--spacing);
            height: 100px;
            border: var(--border-width-thin) solid var(--color-border);
            border-radius: var(--border-radius-medium);
            text-align: center;
            overflow: hidden;

            img {
                max-width: none;
                max-height: none;
            }
        }

        .snippet {
            p {
                font-size: var(--font-size-small);

                strong {
                    color: var(--color-brand);
                }
            }
        }

        .classification {
            margin-top: var(--spacing);
            display: flex;

            ul {
                font-size: var(--font-size-small);
            }

            > :first-child {
                flex: 0 0 auto;
            }

            > :last-child {
                flex: 1 1 auto;
                padding-left: var(--spacing);
                justify-content: flex-end;
            }
        }
        .actions {
            margin-top: var(--spacing);
            
            ul {
                padding-right: var(--spacing);
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
    }

    h2 {
        font-size: var(--font-size-x-large);
        margin-bottom: var(--spacing-small);

        a {
            color: var(--color-text-default);
            position: static;

            &:hover {
                text-decoration: underline;
            }

            &:before {
                content: "";
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
    }

    @media (min-width: 64rem) {
        flex-direction: row;

        > div {
            &:first-child {
                width: 33.333333%;

                .source-image {
                    height: 120px;
                }
            }

            &:last-child {
                width: 66.666666%;
                padding-left: var(--spacing-large);
            }
        }
    }
}
