#app.workbench {
    > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        max-width: var(--max-width);
        margin: 0 auto;

        > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding-left: var(--spacing);
            padding-right: var(--spacing);

            &:not(:last-child) {
                border-right: 1px solid var(--color-light-gray);
            }

            > nav {
                flex: 0 0 auto;
            }

            > div {
                flex: 1 1 auto;
                overflow: auto;
            }
        }
    }

    .joke-list {
        div > ul {
            margin-top: 0;
            margin-bottom: 0;
            
            li {
                margin-left: 0;
                padding-bottom: var(--spacing);
                margin-bottom: var(--spacing);
                border-bottom: 1px solid var(--color-light-gray);

                &:before {
                    content: "";
                    margin-left: 0;
                    margin-right: 0;
                }

                a {
                    display: block;
                    border: 1px solid var(--color-light);

                    &.selected {
                        border: 1px solid var(--color-brand);
                    }
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}
