#app.workbench {
    > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: var(--spacing-x-large);
        grid-row-gap: var(--spacing-x-large);
        height: 100%;
        max-width: var(--max-width);
        margin: 0 auto;

        > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            > nav {
                flex: 0 0 auto;
            }

            > div {
                flex: 1 1 auto;
                overflow: auto;
            }
        }
    }
}
