@charset "UTF-8";
/* Basic Utilities */
:root {
  /* Typography */
  --font-family-default: Merriweather, sans-serif;
  --font-family-alt: blackriver-bold, serif;
  --font-weight-light: 300;
  --font-weight-default: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-x-display: 4.3rem;
  --font-size-display: 3.986rem;
  --font-size-xx-large: 2.074rem;
  --font-size-x-large: 1.728rem;
  --font-size-large: 1.44rem;
  --font-size-medium: 1.2rem;
  --font-size-default: 1rem;
  --font-size-small: 0.833rem;
  --font-size-x-small: 0.694rem;
  --font-size-xx-small: 0.579rem;
  --lineheight-text-default: 1.5;
  --lineheight-text-alt: 1.3;
  /* Colours */
  --color-brand: #814158;
  --color-brand-dark: #713549;
  --color-brand-light: #c07191;
  --color-accent: #2d8095;
  --color-text-default: #2b2b2b;
  --color-text-headline: #2b2b2b;
  --color-text-alt: #fff;
  --color-background: #fff;
  --color-background-selection: #e9eeef;
  --color-base: #e9eeef;
  --color-border: #a1abad;
  --color-light: #fff;
  --color-mid: #656d6f;
  --color-dark: #373b3c;
  --color-darkest: #2b2b2b;
  --color-timeline: #6d787e;
  --color-text-link: var(--color-accent);
  --color-text-link-active: var(--color-accent);
  --color-text-link-focus: var(--color-brand);
  --color-text-link-hover: var(--color-brand);
  --color-text-link-visited: var(--color-accent);
  --color-input-background: var(--color-base);
  --color-input-background-hover: var(--color-background);
  --color-input-background-active: var(--color-background);
  --color-input-border: var(--color-border);
  --color-input-border-hover: var(--color-border);
  --color-input-border-active: var(--color-mid);
  --color-button: var(--color-brand);
  --color-button-hover: var(--color-accent);
  --color-button-active: var(--color-button);
  --color-button-border: var(--color-accent);
  --color-button-alt: var(--color-base);
  --color-button-hover-alt: var(--color-mid);
  --color-button-active-alt: var(--color-base);
  --color-button-border-alt: var(--color-border);
  --color-background-selection: var(--color-accent);
  /* Borders */
  --border-radius-x-small: .15rem;
  --border-radius-small: .25rem;
  --border-radius-medium: .5rem;
  --border-radius-large: 1.5rem;
  --border-radius-circle: 50%;
  --border-width-hairline: .5px;
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  /* Inputs */
  --input-border-width: 0;
  --input-border-radius: var(--border-radius-medium);
  /* Layout */
  --grid-3-4: 3fr 1fr 2fr 2fr 1fr 3fr;
  --grid-column-gap: 2vw;
  --grid-row-gap: 2vh;
  --max-width: 92rem;
  /* Spacing */
  --spacing-xx-small: .125rem;
  --spacing-x-small: .25rem;
  --spacing-small: .5rem;
  --spacing: .75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-x-large: 2rem;
  --spacing-xx-large: 3rem;
  --spacing-xxx-large: 4rem;
  --spacing-xxxx-large: 5rem;
  /* Animation and transition */
  --duration-instantly: 0;
  --duration-immediately: .1s;
  --duration-quickly: .2s;
  --duration-promptly: .5s;
  --duration-slowly: 1s; }

/* Modular typographic scales */
.major-second {
  --font-size-x-display: 2.566rem;
  --font-size-display: 2.027rem;
  --font-size-xx-large: 1.602rem;
  --font-size-x-large: 1.424rem;
  --font-size-large: 1.266rem;
  --font-size-medium: 1.125rem;
  --font-size-default: 1rem;
  --font-size-small: 0.889rem;
  --font-size-x-small: 0.79rem;
  --font-size-xx-small: 0.702rem; }

.type-major-third {
  --font-size-x-display: 4.768rem;
  --font-size-display: 3.815rem;
  --font-size-xx-large: 2.441rem;
  --font-size-x-large: 1.953rem;
  --font-size-large: 1.563rem;
  --font-size-medium: 1.25rem;
  --font-size-default: 1rem;
  --font-size-small: 0.833rem;
  --font-size-x-small: 0.694rem;
  --font-size-xx-small: 8px; }

.type-perfect-fourth {
  --font-size-x-display: 5.61rem;
  --font-size-display: 4.209rem;
  --font-size-xx-large: 3.157rem;
  --font-size-x-large: 2.369rem;
  --font-size-large: 1.777rem;
  --font-size-medium: 1.333rem;
  --font-size-default: 1rem;
  --font-size-small: 0.75rem;
  --font-size-x-small: 0.563rem;
  --font-size-xx-small: 0.422rem; }

/* Layout */
.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }
  .flex.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .flex > * {
    -webkit-box-flex: 1;
    flex: 1 1; }
  .flex > .shrink {
    -webkit-box-flex: 0;
    flex: 0 0 auto; }
  .flex > .align-bottom {
    align-self: flex-end; }

.grid {
  padding: var(--spacing-small) 0; }
  .grid [class*="cell-"] {
    padding: var(--spacing) 0;
    min-width: 0; }
    .grid [class*="cell-"] img {
      max-width: 100%; }

@media (min-width: 48rem) {
  .grid {
    padding-left: var(--spacing);
    padding-right: var(--spacing); } }

@media (min-width: 64rem) {
  .grid {
    display: grid;
    grid-template-columns: var(--grid-3-4);
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: var(--max-width); }
    .grid .cell-1-1 {
      grid-column-start: 1;
      grid-column-end: 1; }
    .grid .cell-1-2 {
      grid-column-start: 1;
      grid-column-end: 2; }
    .grid .cell-1-3 {
      grid-column-start: 1;
      grid-column-end: 3; }
    .grid .cell-1-4 {
      grid-column-start: 1;
      grid-column-end: 4; }
    .grid .cell-1-5 {
      grid-column-start: 1;
      grid-column-end: 5; }
    .grid .cell-1-6 {
      grid-column-start: 1;
      grid-column-end: 6; }
    .grid .cell-1-7 {
      grid-column-start: 1;
      grid-column-end: 7; }
    .grid .cell-2-2 {
      grid-column-start: 2;
      grid-column-end: 2; }
    .grid .cell-2-3 {
      grid-column-start: 2;
      grid-column-end: 3; }
    .grid .cell-2-4 {
      grid-column-start: 2;
      grid-column-end: 4; }
    .grid .cell-2-5 {
      grid-column-start: 2;
      grid-column-end: 5; }
    .grid .cell-2-6 {
      grid-column-start: 2;
      grid-column-end: 6; }
    .grid .cell-2-7 {
      grid-column-start: 2;
      grid-column-end: 7; }
    .grid .cell-3-3 {
      grid-column-start: 3;
      grid-column-end: 3; }
    .grid .cell-3-4 {
      grid-column-start: 3;
      grid-column-end: 4; }
    .grid .cell-3-5 {
      grid-column-start: 3;
      grid-column-end: 5; }
    .grid .cell-3-6 {
      grid-column-start: 3;
      grid-column-end: 6; }
    .grid .cell-3-7 {
      grid-column-start: 3;
      grid-column-end: 7; }
    .grid .cell-4-4 {
      grid-column-start: 4;
      grid-column-end: 4; }
    .grid .cell-4-5 {
      grid-column-start: 4;
      grid-column-end: 5; }
    .grid .cell-4-6 {
      grid-column-start: 4;
      grid-column-end: 6; }
    .grid .cell-4-7 {
      grid-column-start: 4;
      grid-column-end: 7; }
    .grid .cell-5-5 {
      grid-column-start: 5;
      grid-column-end: 5; }
    .grid .cell-5-6 {
      grid-column-start: 5;
      grid-column-end: 6; }
    .grid .cell-5-7 {
      grid-column-start: 5;
      grid-column-end: 7; }
    .grid .cell-6-6 {
      grid-column-start: 6;
      grid-column-end: 6; }
    .grid .cell-6-7 {
      grid-column-start: 6;
      grid-column-end: 7; }
    .grid .cell-7-7 {
      grid-column-start: 7;
      grid-column-end: 7; } }

.block {
  display: block; }

.hide-small {
  display: none; }

@media (min-width: 48rem) {
  .hide-small {
    display: block; }
  .show-small {
    display: none; } }

/*
 * Body styling
 */
html {
  padding: .5vw;
  background-color: var(--color-text-default);
  -webkit-text-size-adjust: 100%; }

body {
  padding: 2vw;
  background-color: var(--color-background);
  font-family: var(--font-family-default);
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--lineheight-text);
  color: var(--color-text-default); }

@supports ((-webkit-font-variant-ligatures: common-ligatures) or (font-variant-ligatures: common-ligatures)) {
  body {
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures; } }

@media screen and (min-width: 48em) {
  .page {
    padding-top: var(--spacing-x-large);
    border-color: var(--color-border);
    border-style: solid;
    border-width: 5px 75px 75px;
    -webkit-border-image: url(/static/img/body-border-brand.svg) 5 75 75 stretch;
    -o-border-image: url(/static/img/body-border-brand.svg) 5 75 75 stretch;
    border-image: url(/static/img/body-border-brand.svg) 5 75 75 fill stretch; } }

/* Generic Elements */
.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/*
 * Link styling
 */
a {
  color: var(--color-text-link);
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: var(--color-text-link-hover); }
  a:focus {
    outline: thin dotted;
    color: var(--color-text-link-active); }
  a:hover, a:active {
    outline: 0; }
  a:link {
    -webkit-transition: color var(--duration-quickly) ease;
    transition: color var(--duration-quickly) ease; }

/*
 * Assorted small elements
 */
small {
  font-size: var(--font-size-x-small); }

strong {
  font-weight: var(--font-weight-semibold); }

em {
  font-style: italic; }

sup {
  font-weight: var(--font-weight-default); }

abbr[title] {
  border-bottom: var(--border-width-thin) dotted var(--color-border);
  cursor: help; }

dfn {
  font-style: italic; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit; }

/*
 * Blockquotes
 */
blockquote {
  box-sizing: border-box;
  margin: 0 0 var(--spacing-x-large);
  padding: 0;
  background-color: transparent; }
  blockquote:first-child {
    margin-top: 0; }
  blockquote p {
    font-size: var(--font-size-medium); }
    blockquote p:last-of-type, blockquote p:only-of-type {
      margin-bottom: var(--spacing); }
  blockquote cite {
    display: block;
    font-size: var(--font-size-small);
    font-style: normal; }
    blockquote cite.with-badge {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: var(--spacing-small); }
      blockquote cite.with-badge > :first-child {
        -webkit-box-flex: 0;
        flex: 0 0 auto; }
      blockquote cite.with-badge > :last-child {
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        margin-left: var(--spacing); }

/*
 * Buttons
 */
button, a.btn, .btn {
  -webkit-appearance: none;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: var(--spacing) var(--spacing-large);
  background-color: var(--color-button);
  color: var(--color-text-alt);
  border-width: 0;
  border-radius: var(--border-radius-large);
  box-sizing: border-box;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family);
  font-style: italic;
  cursor: pointer;
  -webkit-transition: var(--duration-promptly) all ease;
  transition: var(--duration-promptly) all ease;
  text-decoration: none;
  line-height: 1; }
  button:hover, a.btn:hover, .btn:hover {
    background-color: var(--color-button-hover);
    color: var(--color-text-alt);
    text-decoration: none; }
  button:active, a.btn:active, .btn:active {
    background-color: var(--color-button-active);
    color: var(--color-text-alt);
    text-decoration: none; }
  button.alt-large, a.btn.alt-large, .btn.alt-large {
    padding: var(--spacing-medium) var(--spacing-x-large); }
  button.alt-small, a.btn.alt-small, .btn.alt-small {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--font-size-x-small); }
  button.alt-block, a.btn.alt-block, .btn.alt-block {
    display: block;
    width: 100%;
    text-align: center; }
  button.alt-secondary, a.btn.alt-secondary, .btn.alt-secondary {
    background-color: var(--color-base);
    color: var(--color-text-default); }
    button.alt-secondary:hover, a.btn.alt-secondary:hover, .btn.alt-secondary:hover {
      background-color: var(--color-button-hover);
      color: var(--color-text-alt); }

/*
 * Button Groups
 */
.btn-group {
  display: -webkit-box;
  display: flex;
  margin: var(--spacing-x-large) 0; }
  .btn-group button, .btn-group .btn {
    -webkit-box-flex: 1;
    flex: 1;
    border-radius: 0; }
  .btn-group > :first-child {
    border-top-left-radius: var(--border-radius-large);
    border-bottom-left-radius: var(--border-radius-large); }
  .btn-group > :last-child {
    border-top-right-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large); }

/*
 * Search Buttons
 */
.search {
  position: relative;
  padding: 0 !important; }
  .search button, .search button:hover {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 0;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

::-moz-selection, ::-moz-selection {
  color: var(--color-light);
  background-color: var(--color-background-selection);
  text-shadow: none; }

::-moz-selection, ::selection {
  color: var(--color-light);
  background-color: var(--color-background-selection);
  text-shadow: none; }

::-webkit-scrollbar-track {
  margin: var(--spacing-small);
  background-color: var(--color-base);
  border-radius: 8px; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 8px; }

.color-brand {
  color: var(--color-brand); }

/**
 * Font sizes
 */
.font-size-x-small {
  font-size: var(--font-size-x-small); }

.font-size-small {
  font-size: var(--font-size-small); }

.font-size-large {
  font-size: var(--font-size-large); }

.font-size-xx-large {
  font-size: var(--font-size-xx-large); }

.font-size-display {
  font-size: var(--font-size-display); }

/**
 * Form styling
 */
form {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0 0 var(--spacing) 0;
  padding: 0;
  border: 0; }

label {
  display: block;
  margin: 0 0 var(--spacing-small) 0;
  color: var(--color-input-text); }

[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  margin: 0 0 var(--spacing-small) 0;
  padding: var(--spacing);
  width: 100%;
  background-color: var(--color-input-background);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  color: var(--color-input-text);
  -webkit-transition: all var(--duration-quickly) ease;
  transition: all var(--duration-quickly) ease;
  border: var(--border-width-thin) solid var(--color-input-background); }
  [type="email"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="text"]:focus,
  textarea:focus {
    border: var(--border-width-thin) solid var(--color-mid); }
  [type="email"].error,
  [type="number"].error,
  [type="password"].error,
  [type="search"].error,
  [type="text"].error,
  textarea.error {
    border: var(--border-width-thin) solid var(--color-negative);
    color: var(--color-negative); }

textarea {
  min-height: 12vh;
  resize: vertical; }

input:focus, textarea:focus {
  outline: 0; }

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 var(--spacing);
  font-family: var(--font-family);
  font-weight: var(--font-weight-semibold);
  line-height: var(--lineheight-heading);
  color: var(--color-text-headline); }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    color: var(--color-brand-light); }
  h1.alt-font, h2.alt-font, h3.alt-font, h4.alt-font, h5.alt-font, h6.alt-font {
    font-family: var(--font-family-alt);
    font-style: normal;
    font-weight: normal;
    text-shadow: 2px 2px 0 var(--color-background), 4px 4px 0 var(--color-border); }
    h1.alt-font a, h2.alt-font a, h3.alt-font a, h4.alt-font a, h5.alt-font a, h6.alt-font a {
      color: var(--color-text-default); }
      h1.alt-font a:hover, h2.alt-font a:hover, h3.alt-font a:hover, h4.alt-font a:hover, h5.alt-font a:hover, h6.alt-font a:hover {
        text-decoration: none; }

h2, h3, h4, h5, h6 {
  font-style: italic; }

h1 {
  font-size: var(--font-size-xx-large); }

h2 {
  font-size: var(--font-size-x-large); }

h3 {
  font-size: var(--font-size-large); }

h4 {
  font-size: var(--font-size-medium); }

h5, h6 {
  font-size: var(--font-size-default); }

/*
 * Icon styling
 */
.icon.mdi, .icon.mdi {
  width: 24px;
  height: 24px; }

.icon path, .icon g, .icon path, .icon g {
  fill: var(--color-accent); }

a:hover path, a:hover g {
  fill: var(--color-brand); }

/*
 * List styling
 */
ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  counter-reset: ol-counter;
  font-size: var(--font-size-default); }
  ol li {
    counter-increment: ol-counter;
    margin-left: -1rem;
    margin-bottom: var(--spacing-x-small); }
    ol li:before {
      margin-right: var(--spacing-medium);
      content: counter(ol-counter);
      color: var(--color-text-default); }

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  ul li:before {
    content: "• ";
    color: var(--color-brand); }
  ul.no-bullet li:before {
    content: "";
    display: none; }

li {
  margin-bottom: var(--spacing-x-small); }
  li > ul, li > ol {
    margin: var(--spacing) 0 var(--spacing) var(--spacing);
    padding: 0; }

dl {
  font-size: var(--font-size-default); }

dt {
  font-weight: var(--font-weight-semibold); }

dd {
  margin: 0 0 var(--spacing); }

/* Inline lists */
.inline {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .inline li:before {
    content: ""; }
  .inline li:not(:last-child) {
    padding-right: var(--spacing-small);
    margin-right: var(--spacing-small);
    border-right: var(--border-width-thin) solid var(--color-border); }
  .inline.comma li:not(:last-child) {
    padding-right: 0;
    margin-right: var(--spacing-x-small);
    border-right: 0; }
    .inline.comma li:not(:last-child):after {
      content: ", "; }

/*
 * Margin helpers
 */
.margin-auto {
  margin-right: auto;
  margin-left: auto; }

.margin-top {
  margin-top: var(--spacing-large); }

.margin-bottom {
  margin-bottom: var(--spacing-x-large); }

.margin-bottom-zero {
  margin-bottom: 0; }

.margin-right {
  margin-right: var(--grid-column-gap); }

.margin-left {
  margin-left: var(--grid-column-gap); }

@media screen and (min-width: 48em) {
  .margin-bottom-negative {
    margin-bottom: -5rem; } }

/*
 * Number styling
 */
.numeral {
  color: var(--color-brand); }

/*
 * Paragraph styling
 */
p {
  margin: 0 0 var(--spacing);
  font-size: var(--font-size-default); }
  p.alt-font {
    font-family: var(--font-family-alt); }
  p:last-child:only-child {
    margin-bottom: 0; }
  p.secondary {
    font-size: var(--font-size-small); }
  p.tertiary {
    font-size: var(--font-size-x-small); }
  p.milli {
    font-size: var(--font-size-xx-small);
    line-height: calc(var(--lineheight-text) / 1.05); }

@media screen and (min-width: 64em) {
  .standfirst {
    font-size: var(--font-size-x-large); }
  .lede {
    font-size: var(--font-size-medium); } }

/*
 * Visual separators
 */
img.separator {
  width: 100%; }

/*
 * Basic table styling
 */
table {
  margin-bottom: var(--spacing-x-large);
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  font-family: var(--font-family); }
  table ul {
    margin: 0; }
  table.layout-1-2 th {
    width: 33.33333%; }

th, td {
  padding: var(--spacing) var(--spacing-medium) var(--spacing) 0;
  font-size: var(--font-size-small);
  text-align: left;
  vertical-align: middle; }

th {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semibold);
  font-style: italic;
  white-space: nowrap; }
  th h3 {
    margin: 0;
    font-size: var(--font-size-small);
    text-transform: none; }

td:first-of-type {
  padding-left: var(--spacing-x-small); }

thead th, thead td {
  border-bottom: var(--border-width-thick) solid var(--color-border); }

tbody th, tbody td {
  border-bottom: var(--border-width-thin) solid var(--color-border); }

.td--divider {
  padding-left: var(--spacing-medium);
  border-left: var(--border-width-thin) solid var(--color-border); }

/*
 * Condensed table
 */
.table--condensed th, .table--condensed td {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small); }

/*
 * Very condensed table
 */
.table--milli th, .table--milli td {
  padding-top: var(--spacing-x-small);
  padding-bottom: var(--spacing-x-small);
  font-size: var(--font-size-x-small); }

/* stripe */
.table--stripe tbody th, .table--stripe tbody td {
  border-bottom-width: 0; }

.table--stripe tbody tr:nth-of-type(even) th, .table--stripe tbody tr:nth-of-type(even) td {
  background-color: var(--color-base); }

.table--stripe tbody tr:last-of-type th, .table--stripe tbody tr:last-of-type td {
  border-bottom: var(--border-width-thin) solid var(--color-border); }

/*
 * Table hover effect
 */
.table--hover tr:hover th, .table--hover tr:hover td {
  background-color: var(--color-border); }

.table--hover tr:nth-of-type(even):hover th, .table--hover tr:nth-of-type(even):hover td {
  background-color: var(--color-border); }

/*
 * Responsive Table
 */
.table--responsive {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  border-spacing: 0;
  -webkit-overflow-scrolling: touch; }

/* Specific Components */
.categories-block {
  margin: 0;
  padding: 0;
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  list-style-type: none; }
  .categories-block li {
    padding: var(--spacing-x-small) 0;
    text-align: center;
    -webkit-transition: -webkit-transform var(--duration-quickly) ease;
    transition: -webkit-transform var(--duration-quickly) ease;
    transition: transform var(--duration-quickly) ease;
    transition: transform var(--duration-quickly) ease, -webkit-transform var(--duration-quickly) ease; }
    .categories-block li:before {
      content: ""; }
    .categories-block li:nth-child(odd) {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    .categories-block li:nth-child(even) {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg); }
    .categories-block li:nth-child(3n+1) {
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .categories-block li:hover {
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
      -webkit-transform: rotate(0);
      transform: rotate(0); }
    .categories-block li a {
      font-family: var(--font-family-alt);
      font-size: var(--font-size-medium); }
      .categories-block li a:hover {
        text-decoration: none; }

ul.filter-list li:before {
  content: ""; }

ul.filter-list li a {
  display: -webkit-box;
  display: flex; }
  ul.filter-list li a > span {
    -webkit-box-flex: 1;
    flex: 1 1 auto; }
  ul.filter-list li a > svg {
    -webkit-box-flex: 0;
    flex: 0 0 auto; }

ul.filter-list.expanded {
  border-bottom: var(--border-width-thin) solid var(--color-border);
  padding-bottom: var(--spacing); }

/*
 * Footer styling
 */
footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-x-small); }
  footer nav ul li {
    margin-bottom: var(--spacing); }
    footer nav ul li:before {
      content: ""; }

footer nav:nth-child(1) ul {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-large); }

footer nav:nth-child(2) ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }
  footer nav:nth-child(2) ul li {
    margin-right: var(--spacing-small); }

@media (min-width: 48em) {
  footer nav:nth-child(1) {
    grid-column: 2 / 6; }
    footer nav:nth-child(1) ul {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3; }
  footer nav:nth-child(2) {
    grid-column: 6 / 7; } }

/*
 * Header styling
 */
header nav ul {
  list-style-type: none;
  margin: var(--spacing) 0 0 0;
  padding: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }
  header nav ul li {
    text-align: center; }
    header nav ul li:before {
      content: ""; }
    header nav ul li a {
      font-family: var(--font-family-alt);
      display: block;
      padding: var(--spacing-x-small) var(--spacing); }
      header nav ul li a:hover {
        text-decoration: none; }

@media (min-width: 48rem) {
  header div {
    grid-column: 1 / 3; }
  header nav {
    grid-column: 4 / 7; }
    header nav ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; }
      header nav ul li {
        margin: 0;
        text-align: left; }
        header nav ul li + li {
          border-left: 1px solid var(--color-border); } }

@media (min-width: 92rem) {
  header nav ul li a {
    padding: var(--spacing-x-small) var(--spacing-large); } }

.joke-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0; }
  .joke-banner > :nth-of-type(1) {
    grid-column: 1;
    text-align: center; }
  .joke-banner > :nth-of-type(2) {
    grid-column: 2;
    text-align: center; }
  .joke-banner > :nth-of-type(3) {
    grid-column: 1 / -1; }
  .joke-banner img {
    max-height: 400px;
    max-width: 100%; }
  .joke-banner p {
    font-size: var(--font-size-x-large);
    font-style: italic; }
  .joke-banner p:first-child {
    margin-bottom: 0; }
  .joke-banner p:last-child {
    color: var(--color-brand); }

@media (min-width: 64em) {
  .joke-banner {
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
    align-items: center; }
    .joke-banner > :nth-of-type(1) {
      grid-column: 1;
      grid-row: 1; }
    .joke-banner > :nth-of-type(2) {
      grid-column: 3;
      grid-row: 1; }
    .joke-banner > :nth-of-type(3) {
      grid-column: 2;
      grid-row: 1; } }

nav.joke-rating ul {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0; }
  nav.joke-rating ul li {
    margin-right: var(--spacing-large); }
    nav.joke-rating ul li:before {
      content: "";
      margin: 0; }
    nav.joke-rating ul li:last-of-type {
      margin-right: 0; }
    nav.joke-rating ul li a {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      color: var(--color-mid);
      text-decoration: none; }
      nav.joke-rating ul li a:hover {
        color: var(--color-brand); }
      nav.joke-rating ul li a span {
        margin-left: var(--spacing-small); }

.joke-snippet {
  margin-bottom: var(--spacing-large);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
  position: relative; }
  .joke-snippet a {
    position: relative;
    z-index: 1; }
  .joke-snippet > div:first-child {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    .joke-snippet > div:first-child div {
      margin-bottom: var(--spacing-small); }
  .joke-snippet > div .metadata {
    display: -webkit-box;
    display: flex; }
    .joke-snippet > div .metadata > div:first-child {
      -webkit-box-flex: 1;
      flex: 1 1 auto; }
    .joke-snippet > div .metadata > time {
      display: block;
      width: 6em;
      -webkit-box-flex: 0;
      flex: 0 0 auto; }
      .joke-snippet > div .metadata > time span {
        display: block;
        text-align: center; }
        .joke-snippet > div .metadata > time span:first-of-type {
          font-family: var(--font-family-alt);
          font-size: var(--font-size-x-large); }
  .joke-snippet > div .source-image {
    margin-bottom: var(--spacing);
    padding: var(--spacing);
    height: 100px;
    border: var(--border-width-thin) solid var(--color-border);
    border-radius: var(--border-radius-medium);
    text-align: center;
    overflow: hidden; }
    .joke-snippet > div .source-image img {
      max-width: none;
      max-height: none; }
  .joke-snippet > div .snippet p {
    font-size: var(--font-size-small); }
    .joke-snippet > div .snippet p strong {
      color: var(--color-brand); }
  .joke-snippet > div .classification {
    margin-top: var(--spacing);
    display: -webkit-box;
    display: flex; }
    .joke-snippet > div .classification ul {
      font-size: var(--font-size-small); }
    .joke-snippet > div .classification > :first-child {
      -webkit-box-flex: 0;
      flex: 0 0 auto; }
    .joke-snippet > div .classification > :last-child {
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      padding-left: var(--spacing);
      -webkit-box-pack: end;
      justify-content: flex-end; }
  .joke-snippet h2 {
    font-size: var(--font-size-x-large);
    margin-bottom: var(--spacing-small); }
    .joke-snippet h2 a {
      color: var(--color-text-default);
      position: static; }
      .joke-snippet h2 a:hover {
        text-decoration: underline; }
      .joke-snippet h2 a:before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
  @media (min-width: 64rem) {
    .joke-snippet {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row; }
      .joke-snippet > div:first-child {
        width: 33.333333%; }
        .joke-snippet > div:first-child .source-image {
          height: 120px; }
      .joke-snippet > div:last-child {
        width: 66.666666%;
        padding-left: var(--spacing-large); } }

.search-results > li {
  margin-left: 0;
  margin-bottom: var(--spacing-xx-large); }
  .search-results > li:before {
    content: ""; }

.search-result-status {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .search-result-status > :first-child {
    margin-bottom: var(--spacing);
    text-align: right; }
  @media (min-width: 48rem) {
    .search-result-status {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row; }
      .search-result-status > :first-child {
        -webkit-box-flex: 1;
        flex: 1 1;
        text-align: left; } }
  .search-result-status .align-bottom {
    align-self: flex-end; }
  .search-result-status .pagination {
    display: -webkit-box;
    display: flex;
    margin: 0; }
    .search-result-status .pagination li {
      -webkit-box-flex: 1;
      flex: 1 1; }
      .search-result-status .pagination li:before {
        content: ""; }
      .search-result-status .pagination li a {
        display: block;
        padding: var(--spacing-small) var(--spacing-medium);
        font-size: var(--font-size-x-small);
        text-align: center; }

/*
 * Timeline styling
 */
.timeline {
  padding: var(--spacing) 0; }
  @media (min-width: 48rem) {
    .timeline {
      padding-left: var(--spacing);
      padding-right: var(--spacing); } }
  @media (min-width: 64rem) {
    .timeline {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      max-width: var(--max-width); } }
  .timeline ol {
    margin: 0;
    padding: 0; }
    .timeline ol li {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center; }
      .timeline ol li:before {
        content: ""; }
      .timeline ol li a {
        display: block;
        width: 100%;
        padding: var(--spacing-x-small) 0;
        color: var(--color-timeline); }
        .timeline ol li a:hover {
          color: var(--color-brand);
          text-decoration: none; }
      .timeline ol li:hover div:first-of-type {
        background-color: var(--color-brand); }
        .timeline ol li:hover div:first-of-type:after {
          content: url("/static/img/icon-timeline-small-hover.svg"); }
    .timeline ol div:first-of-type {
      position: relative;
      height: 2px;
      background-color: var(--color-border); }
      .timeline ol div:first-of-type:after {
        content: url("/static/img/icon-timeline-small.svg");
        position: absolute;
        right: -10px;
        top: -10px; }
    .timeline ol div:last-of-type {
      font-family: var(--font-family-alt);
      font-size: var(--font-size-large);
      font-style: normal;
      font-weight: normal; }
      .timeline ol div:last-of-type span {
        font-size: var(--font-size-small);
        color: var(--color-text-default); }
    .timeline ol .qty-0 {
      width: 0%; }
    .timeline ol .qty-10 {
      width: 10%; }
    .timeline ol .qty-20 {
      width: 20%; }
    .timeline ol .qty-30 {
      width: 30%; }
    .timeline ol .qty-40 {
      width: 40%; }
    .timeline ol .qty-50 {
      width: 50%; }
    .timeline ol .qty-60 {
      width: 60%; }
    .timeline ol .qty-70 {
      width: 70%; }
    .timeline ol .qty-80 {
      width: 80%; }
    .timeline ol .qty-90 {
      width: 90%; }
    .timeline ol .qty-100 {
      width: 100%; }

@media (min-width: 48em) {
  .timeline ol {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end; }
    .timeline ol li {
      display: block;
      -webkit-box-flex: 1;
      flex: 1;
      padding-bottom: var(--spacing-x-large);
      text-align: center; }
      .timeline ol li a {
        width: auto; }
      .timeline ol li:hover div:first-of-type:after {
        content: ""; }
        .timeline ol li:hover div:first-of-type:after:before {
          content: url("/static/img/icon-timeline-hover.svg"); }
      .timeline ol li:hover div:last-of-type {
        -webkit-transform: scale(1.25);
        transform: scale(1.25); }
        .timeline ol li:hover div:last-of-type span {
          display: block; }
    .timeline ol div:first-of-type {
      position: static;
      height: auto;
      margin: 0 auto var(--spacing); }
      .timeline ol div:first-of-type.qty-0 {
        width: 2px;
        height: 0; }
      .timeline ol div:first-of-type.qty-10 {
        width: 2px;
        height: 10px; }
      .timeline ol div:first-of-type.qty-20 {
        width: 2px;
        height: 20px; }
      .timeline ol div:first-of-type.qty-30 {
        width: 2px;
        height: 30px; }
      .timeline ol div:first-of-type.qty-40 {
        width: 2px;
        height: 40px; }
      .timeline ol div:first-of-type.qty-50 {
        width: 2px;
        height: 50px; }
      .timeline ol div:first-of-type.qty-60 {
        width: 2px;
        height: 60px; }
      .timeline ol div:first-of-type.qty-70 {
        width: 2px;
        height: 70px; }
      .timeline ol div:first-of-type.qty-80 {
        width: 2px;
        height: 80px; }
      .timeline ol div:first-of-type.qty-90 {
        width: 2px;
        height: 90px; }
      .timeline ol div:first-of-type.qty-100 {
        width: 2px;
        height: 100px; }
      .timeline ol div:first-of-type:after {
        content: ""; }
      .timeline ol div:first-of-type:before {
        content: url("/static/img/icon-timeline.svg");
        position: relative;
        top: -10px;
        left: -3px;
        width: 8px; }
    .timeline ol div:last-of-type {
      -webkit-transition: -webkit-transform var(--duration-quickly) ease;
      transition: -webkit-transform var(--duration-quickly) ease;
      transition: transform var(--duration-quickly) ease;
      transition: transform var(--duration-quickly) ease, -webkit-transform var(--duration-quickly) ease; }
      .timeline ol div:last-of-type span {
        display: none;
        position: absolute;
        bottom: -.75rem;
        width: 100%;
        font-size: var(--font-size-x-small);
        text-align: center;
        color: var(--color-text-default); } }

@font-face {
  font-family: 'blackriver-bold';
  src: url("/static/fonts/blackriver-bold.woff2") format("woff2"), url("/static/fonts/blackriver-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
